body {
  margin: 0;
  background-color: #080808;

  #udesk_btn {
    display: none;
  }

  .anticon-loading {
    color: var(--text-brand-default, #ABE127) !important;
  }
  .my-pagination {
    .ant-pagination-item {
      background-color: #000000 !important; /* 背景改为紫色 */
      border-color: #28292A !important;
      border-radius: 8px !important;
      a {
        color: #fff !important; /* 文字改白色 */
        opacity: 0.5;
      }
    }
    .ant-pagination-item-active {
      background-color: #ABE127 !important;
      a {
        color: #101112 !important;
      }
    }
    .ant-pagination-prev, .ant-pagination-next {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff !important;
      border-radius: 8px !important;
    }
    .anticon-double-right,.anticon-double-left {
      opacity: 1 !important;
    }
    .ant-pagination-disabled {
      border: 1px solid #28292A !important;
    }
    .ant-pagination-item-link {
      color: #fff !important;
      .anticon {
        color: #fff !important;
        opacity: 0.5;
      }
    }

  }

  .composed-dialog {
    .ant-modal-content {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
  .dialog-padding {
    .ant-modal-content {
      padding: 0 !important;
    }
  }

  .glow-border {
    position: relative;
    border-radius: 20px;
  }

  .glow-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 20px;
    border-radius: inherit;
    background: linear-gradient(180deg, #CF2C1A, #CF2C1A);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    filter: blur(4px);
  }


  .bg-wave {
    position: relative;
    background: url("@{BASE_PATH}/images/bg-cell.png") repeat center;
    background-size: 300px 250px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100px;
      background: linear-gradient(180deg, #CF2C1A 0%, transparent 100%);
      pointer-events: none;
      z-index: 1;
    }
  }


  .page-header {
    position: relative;
    width: 1920px;
    height: 810px;
    background-image: url("@{BASE_PATH}/images/bannerStatic.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1920px 810px;

    .animotion-bg {
      background-image: url("@{BASE_PATH}/images/borderMask.svg");
      background-size: cover;
    }
  }

   @media (max-width: 768px) {
     .page-header {
        background-image: none;
     }
    .bg-wave {
      background: linear-gradient(180deg, #CF2C1A 0%, #210F07 100%) !important;
    }
  }

}
