.ant-input-number-group-wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

// hover高亮的关键
.ant-input-number-group-wrapper:focus-within {
  border-color: var(--text-brand-default-web);
  caret-color: var(--text-brand-default-web);
}

// 鼠标为主题色
.ant-input-number {
  border-color: transparent;
  color: var(--text-tertiary);
  background-color: var(--fill-fill-input);
  border-radius: 8px;
  width: 100%;
  float: none !important;
  font-size: 12px;

  .ant-input-number-input {
    height: 40px;
    font-size: 14px;
    padding: 0 12px !important;
    color: var(--text-primary);
    // font-weight: 600;
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
  }

  // 全局把 input 选中背景设成透明了，这里针对数字输入框恢复可见的选中高亮
  .ant-input-number-input::selection {
    background-color: var(--neutral-700) !important;
  }
  .ant-input-number-input::-moz-selection {
    background-color: var(--neutral-700) !important;
  }
  .ant-input-number-input::-webkit-selection {
    background-color: var(--neutral-700) !important;
  }

  .ant-input-number-input::placeholder {
    font-size: 12px;
    color: var(--text-tertiary);
    font-weight: 400;
  }
}

.ant-input-number:hover,
.ant-input-number:focus,
.ant-input-number-focused {
  border-color: var(--text-brand-default-web);
  box-shadow: none;
}

.ant-input-number,
.ant-input-number:hover,
.ant-input-number:focus,
.ant-input-number-focused {
  border: none !important;
}

.ant-input-number-group-addon {
  background-color: var(--fill-fill-input);
  color: var(--text-tertiary);
  border-color: transparent;
  font-size: 12px;
  border-radius: 8px;

  .ant-select-open,
  .ant-select-focused {
    .ant-select-selector {
      color: var(--text-brand-default-web);
    }
  }
}

.inputNumberCenter {
  .ant-input-number-input {
    text-align: center;
  }
}