.MgContainer{
  padding: 40px 120px;
  .loadingContainer{
    text-align: center;
    padding-top: 15%;
  }
  .content{
    margin: 40px 0;
    .title{
      color: #FFF;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 8px;
    }
    .desc{
      color: #8C8C8C;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 32px;
    }
  }
}