@import '~/pages/index.module.less';

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;

  .avatarImg {
    height: 200px;
  }

  .loadingWrapper {
    width: 100%;
  }

  .uploadIcon {
    width: 48px;
    height: 48px;
    background: url('@{BASE_PATH}/images/upload.svg') no-repeat center;
    background-size: contain;
    text-align: center;
    display: inline-block;

  }

  :global {
    .ant-upload-drag .ant-upload {
      padding: 0;
    }

    .ant-upload-drag-container {
      height: 200px;
    }

    .ant-upload-wrapper {
      width: 100%;
    }

    .ant-upload-drag:not(.ant-upload-disabled):hover {
      border-color: var(--text-brand-default);
    }

    // 不展示
    .ant-upload-list-item-container .ant-upload-list-item {
      display: none !important;
    }

    .ant-upload-hint {
      padding: 0 16px;

    }
  }

}

// https://npmmirror.com/package/antd-img-crop
.cropModalWrapper {
  :global {
    .img-crop-control button {
      color: #fff;
    }




    .ant-btn-default:not(:disabled):hover {
      color: var(--text-brand-default);
      border-color: var(--text-brand-default);
    }

    .ant-btn-primary:not(:disabled):hover {
      background-color: var(--text-brand-default);
    }

    .ant-modal-footer {
      text-align: center;
    }

    .ant-btn {
      min-width: 100px;
      // padding: 8px 16px;
    }

    .ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
      margin-inline-start: 20px;
    }

  }


}

.editModalWrapper {
  :global {
    .ant-modal-title {
      span {
        font-size: 12px;
        color: #666;
      }
    }
  }
}

.btnWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;

  .cancelBtn {
    background: transparent;
    font-size: 16px;

  }

  .cancelBtn:hover {
    background: transparent;
    border: 1px solid var(--text-brand-default);
  }
}

.avatarBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #FFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .txt {
    display: inline-block;
    margin-left: 8px;
  }
}