.page {
  height: calc(100vh - 64px);

  .container {
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;

    .title {
      color: var(--text-primary, #101112);
      font-size: 28px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 40px;
    }

    .content {
      min-height: 562px;
      border-radius: 16px;
      border: 1px solid var(--line-divider-primary, #EEE);
      background: #272727;
    }
  }
}

@media (max-width: 1279px) {}