body {
  margin: 0;
  background: var(--bg-primary, #070808);


  #udesk_btn {
    display: none;
  }

  a {
    color: var(--text-brand-default);
  }

  a:hover {
    color: var(--text-brand-default);
  }

  input.ant-input {
    background-color: var(--bg-primary, #070808) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-primary, #070808) inset !important;
    color: var(--text-primary, #F5F5F5);
  }

  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: var(--bg-primary, #070808) !important;
  }

  input.ant-input:-webkit-autofill,
  input.ant-input:-webkit-autofill:hover,
  input.ant-input:-webkit-autofill:focus {
    background-color: var(--bg-primary, #070808) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-primary, #070808) inset !important;
    -webkit-text-fill-color: var(--text-primary, #F5F5F5) !important;
  }
  input.ant-input[type='password']:-webkit-autofill {
    border-radius: 12px 0 0 12px !important;
    border: none !important;
  }
  .anticon-loading {
    color: var(--text-brand-default, #ABE127) !important;
  }

  .ant-checkbox .ant-checkbox-inner:after {
    border-color: var(--bg-primary, #070808) !important;
  }
}
