.couponTabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border-bottom: 0.5px solid var(--line-border-default, #28292a);
  margin-bottom: 56px;

  .tabItem {
    position: relative;
    padding: 21px 30px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;

    .count {
      margin-left: 4px;
      font-size: 28px;
      font-weight: 700;
    }

    &.active {
      color: var(--text-brand-default);
      background: url('@{BASE_PATH}/images/PC/tab_selected_border.svg')
          no-repeat bottom;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 85%;
        height: 14px;
        transform: translateX(-50%);
        border-radius: 50%;
        background: rgba(171, 225, 39, 0.6);
        filter: blur(12px);
        pointer-events: none;
      }

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 36px;
        left: 0;
        bottom: 20px;
        background: url('@{BASE_PATH}/images/PC/star.svg') no-repeat center;
        background-size: contain;
        animation: scaleUp 0.3s ease forwards;
        z-index: 1;
      }
    }

    &:hover {
      color: var(--text-brand-default);
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .couponTabs {
    gap: 12px;
    justify-content: flex-start;
    margin-bottom: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0;
    clip-path: inset(0 0 0 0);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
      background: transparent;
    }

    .tabItem {
      flex: none;
      text-align: left;
      padding: 16px 8px 16px 30px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;

      .count {
        font-size: 18px;
        font-weight: 500;
      }

      &.active {
        &::after {
          height: 10px;
          filter: blur(10px);
        }

        &::before {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
