@media (min-width: 767px) {
  .wrapper {
    display: flex;
    justify-content: center;
    // width: 100%;
    flex-direction: column;
    padding-left: 56px;
    padding-top: 20px;
    padding-right: 56px;
    overflow-y: scroll;
  }

  .back {
    cursor: pointer;
  }

  .header {
    .filter-select {
      margin-top: 20px;
      display: inline-block;
    }

    .label {
      color: var(--text-primary);
    }

    .select-contractType {
      margin-right: 24px;
      width: 180px;
    }

    .select {
      width: 160px;
      margin-top: 12px;

      :global {
        .ant-select-selector {
          height: 32px;

          input {
            height: 32px;
          }

          .ant-select-selection-item {
            line-height: 32px;
          }
        }
      }
    }

    .title-box {
      display: flex;
      align-items: center;

      .title {

        font-size: 18px;
        font-weight: 600;
        line-height: 21.09px;
        text-align: left;
      }
    }

    .desc {

      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      // margin-top: 20px;
    }

    .time {
      margin-top: 20px;
    }

    .rangePicker {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .select-time {
        display: none;
      }

      .h5-rangePicker {
        display: none;
      }

      button {
        margin-left: 10px;
        height: 40px;
      }

      :global {
        .ant-picker {
          height: 40px;
        }

        .ant-btn {
          height: 40px;
          font-weight: 600;
        }
      }
    }

    .symbol {
      display: none;
    }
  }

  .table {
    margin-top: 20px;
    margin-bottom: 80px;
    min-width: 960px;
  }

}


@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    padding: 10px;
  }

  .back {
    display: none;
  }

  width: 100%;

  .header {
    padding: 16px;

    .filter-select {
      display: none;
    }

    .symbol {
      display: flex;

      svg {
        margin-left: 5px;
      }
    }

    .select {
      display: none;
    }

    .time {
      display: none;
    }

    .rangePicker {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .web-rangePicker {
        display: none;
      }
    }
  }

  .table {
    padding: 16px;
    height: 100%;
    //max-height: calc(100vh - 260px);

    thead {
      th {
        text-align: left !important;
        padding-left: 0px !important;
        padding-right: 5px !important;
        font-weight: 500 !important;
        background-color: #ffffff !important;
      }
    }

    tbody {
      td {
        text-align: left !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-weight: 600 !important;
      }
    }

    table {
      font-size: 12px !important;
      font-weight: 600 !important;
    }

  }
}

.title {
  color: var(--text-primary);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .img {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('@{BASE_PATH}/icons/loading.gif') no-repeat center;
    background-size: cover;
  }
}