body {
  margin: 0;
  background-color: #060606;

  #udesk_btn {
    display: none;
  }



  /* 全局样式文件，如 index.css 或 app.css */
  .my-pagination {
    .ant-pagination-item {
      border-radius: 100px;
      background-color: #000000 !important; /* 背景改为紫色 */
      border-color: #37393a !important;
      a {
        color: #fff !important;
      }
    }
    .ant-pagination-item-active {
      background-color: var(--fill-button-green-default, #55B169) !important;
    }
    .ant-pagination-prev, .ant-pagination-next {
      padding-bottom: 10px;
      color: #fff !important;
    }
    .anticon-double-right,.anticon-double-left {
      opacity: 1 !important;
    }
    .ant-pagination-disabled {
      border: 1px solid var(--line-border-default, #37393A) !important;
    }
    .ant-pagination-item-link {
      color: #fff !important;
    }
    .ant-pagination-item-active a {
      color: black !important;
    }
    .ant-pagination-prev, .ant-pagination-next {
      border-radius: 100px;
    }
  }

  .my-red-pagination {
    .ant-pagination-item {
      background-color: #000000 !important; /* 背景改为紫色 */
      border-color: #28292A !important;
      border-radius: 8px !important;
      a {
        color: #fff !important; /* 文字改白色 */
        opacity: 0.5;
      }
    }
    .ant-pagination-item-active {
      background-color: #ABE127 !important;
      a {
        color: #101112 !important;
      }
    }
    .ant-pagination-prev, .ant-pagination-next {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff !important;
      border-radius: 8px !important;
    }
    .anticon-double-right,.anticon-double-left {
      opacity: 1 !important;
    }
    .ant-pagination-disabled {
      border: 1px solid #28292A !important;
    }
    .ant-pagination-item-link {
      color: #fff !important;
      .anticon {
        color: #fff !important;
        opacity: 0.5;
      }
    }

  }

  .composed-dialog {
    .ant-modal-content {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

}
