.resolutionPicker {
  width: 328px;
  padding: 4px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-brand-default-web);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.resetBtn {
  color: var(--text-primary);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }
}

.saveBtn {
  color: var(--text-brand-default-web);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.item {
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  padding: 6px auto;
  border: 1px solid transparent;
  border-radius: 6px;
  background: var(--bg-tertiary, #28292a);
  color: var(--text-primary);
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.15s, color 0.15s;

  &:hover {
    color: var(--text-brand-default-web);
  }
}

.pinned {
  border-color: var(--text-primary);
}

.active {
  color: var(--text-brand-default-web);
}

.editMode {
  .item:not(.pinned):hover {
    border-color: transparent;
  }

  .pinned:hover {
    border-color: var(--text-primary);
  }
}

:global {
  .resolution-picker-popover {
    padding-top: 0 !important;
    .ant-popover-inner {
      background-color: var(--fill-fill-modal);
      border-radius: 8px;
    }

    .ant-popover-inner-content {
      padding: 12px 16px 16px;
    }

    .ant-popover-arrow-content {
      background-color: var(--fill-fill-modal);

      &::before {
        background: var(--fill-fill-modal);
      }
    }
  }
}
