.editModal {
  .contentWrapper {
    display: flex;
    margin: 24px 0;

    .leftBtns {
      width: 40%;

      .leftItem {
        display: flex;
        margin-bottom: 16px;
        display: flex;
        padding: 12px 8px 12px 12px;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--line-border-default);
        cursor: pointer;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .all {
            background: url('@{BASE_PATH}/images/all.svg') no-repeat;
          }

          .spot {
            background: url('@{BASE_PATH}/images/spot.svg') no-repeat;
          }

          .futures {
            background: url('@{BASE_PATH}/images/future.svg') no-repeat;
          }

          .block {
            background: url('@{BASE_PATH}/images/block.svg') no-repeat;
          }

          .btn {
            margin-left: 8px;
          }
        }

        .expand {
          background: url('@{BASE_PATH}/images/expand.svg') no-repeat;
        }

      }

      .leftItemActive {
        background: var(--fill-fill-input);
      }
    }

    .centerLine {
      margin: 0 32px;
      width: 1px;
      background: var(--line-divider-secondary);
    }

    .rightTables {
      flex: 1;

      .symbolColumn {
        display: flex;
        align-items: center;

        .tag {
          border-radius: 2px;
          border: 1px solid var(--line-border-default);
          display: flex;
          padding: 2px 4px;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          font-size: 12px;
        }
      }

      :global {
        .ant-table-wrapper {
          max-height: 360px;
          overflow: scroll;
        }

        .ant-table-selection-extra {
          display: none;
        }

        .ant-table-tbody>tr.ant-table-row-selected>td {
          background: transparent;
        }

        .ant-table-thead>tr>th {
          background: var(--bg-primary, #070808);
          border-bottom: none;
          padding: 0 12px 12px 8px;
        }

        .ant-table-tbody>tr>td {
          border-bottom: none;
          padding: 12px 8px;
        }
      }
    }

    .icon {
      width: 16px;
      height: 16px;
      display: inline-block;
    }
  }

  .cancelBtn {
    width: 100%;
    margin-top: 24px;
    height: 40px !important;
  }


}

.deleteModal {
  p {
    margin: 24px 0;
  }

  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    .secondaryBtn {
      color: var(--text-primary, #101112);
      background: var(--fill-button-tertiary-default, #F5F5F5);

      &:hover {
        background: var(--fill-button-tertiary-hover, #E5E5E5);
      }
    }

    .primaryBtn {
      background: var(--fill-button-primary-default, #101112);

      &:hover {
        background: var(--fill-button-primary-hover, #000000);
      }
    }
  }

}

.deleteModal,
.editModal {
  :global {
    .ant-btn-default {
      border-radius: 12px;
      // background: var(--fill-button-tertiary-default, #F5F5F5);
      border: none;
    }

    .ant-btn {
      height: 44px;
    }

    .ant-checkbox .ant-checkbox-inner:after {
      border-color: var(--text-black, #101112);
    }
  }
}