.bindEmailContainer {
  :global {
    .ant-input,
    .ant-input-affix-wrapper {
      border-color: transparent;

      &:hover {
        border-color: var(--text-brand-default);
      }

      &:focus {
        border-color: var(--text-brand-default);
      }
    }

    .ant-btn-primary {
      height: 48px;
      width: 100%;
      background-color: var(--text-brand-default);
      color: #fff;
      font-weight: 700;
      border-radius: 8px;

      &:hover {
        background-color: var(--text-brand-default);
      }

      &:disabled {
        opacity: 0.3;

        cursor: not-allowed;
      }
    }
  }

  .changeEmailDesc {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  .userInp {
    background: #f7f7f7;
    height: 48px;
    border-radius: 8px;

    input {
      background: #f7f7f7;
    }
  }

  .sentCodeBtn {
    color: var(--text-brand-default);
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    border: none;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

.modalWrapper {
  .withdrawTips {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(245, 132, 31, 0.1);
    margin-bottom: 24px;
    border: 0.5px solid var(--function-orange, #FF7738);

    .tipsIcon {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      background: url('@{BASE_PATH}/images/tips.svg') no-repeat;
    }

    .tipsText {
      color: var(--Functional-warning, #f5841f);
      margin-left: 8px;
      font-size: 12px;
      word-break: break-word;
    }
  }

  :global {
    .ant-btn-primary:disabled {
      opacity: 0.5;
      border: none;
    }
  }
}
