@import "./size-var.css";
@import "./color-var.css";
@import "./theme.dark.css";
@import "./theme.light.css";

/* 中文 */
@font-face {
  font-family: "HarmonyOS Sans SC";
  /* src: url(/static/asset/font/HarmonyOS-SansSC-Bold.ttf) format('truetype'); */
  src: url(/static/asset/font/HarmonyOS_SansSC_Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  unicode-range:
    U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+3000-303F, U+FF00-FFEF,
    U+20000-2A6DF;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  /* src: url(/static/asset/font/HarmonyOS-SansSC-Medium.ttf) format('truetype'); */
  src: url(/static/asset/font/HarmonyOS_SansSC_Semibold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  unicode-range:
    U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+3000-303F, U+FF00-FFEF,
    U+20000-2A6DF;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  /* src: url(/static/asset/font/HarmonyOS-SansSC-Medium.ttf) format('truetype'); */
  src: url(/static/asset/font/HarmonyOS_SansSC_Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  unicode-range:
    U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+3000-303F, U+FF00-FFEF,
    U+20000-2A6DF;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  /* src: url(/static/asset/font/HarmonyOS-SansSC-Regular.ttf) format('truetype'); */
  src: url(/static/asset/font/HarmonyOS_SansSC_Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  unicode-range:
    U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+3000-303F, U+FF00-FFEF,
    U+20000-2A6DF;
}

/* 拉丁字母、数字、符号 */

@font-face {
  font-family: "HarmonyOS Sans";
  src: url(/static/asset/font/HarmonyOS_Sans_Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
}

/* 暂无semibold字体包，600字体走Bold包 */
@font-face {
  font-family: "HarmonyOS Sans";
  src: url(/static/asset/font/HarmonyOS_Sans_Bold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url(/static/asset/font/HarmonyOS_Sans_Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url(/static/asset/font/HarmonyOS_Sans_Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
}

:root {
  /* --font-family-cn: "HarmonyOS Sans SC";
  --font-family-unCN: "HarmonyOS Sans"; */
  /* --font-family: var(--font-family-cn),var(--font-family-unCN),-apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  --font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

::selection {
  color: #fff !important;
  background: var(--neutral-700) !important;
}

body {
  font-family: var(--font-family) !important;
}
