.risk-modal-container {
  user-select: none;
}
.risk-modal-container .re-slider {
  margin-left: var(--size-30);
  margin-right: var(--size-40);
}
.risk-modal-container .re-slider-mark-text {
  top: -8px;
  text-align: center;
  padding: var(--size-8) var(--size-8);
  border-radius: var(--size-20);
  color: var(--text-secondary);
}
.risk-modal-container .re-slider-mark-text-active.last-active {
  color: var(--text-brand-default-web);
  background-color: var(--bg-secondary);
  border-radius: var(--size-4);
}
.risk-modal-container .re-slider-handle {
  background: transparent;
  z-index: 1;
  width: var(--size-30);
  height: var(--size-30);
  border-radius: 0;
  box-shadow: none;
}
.risk-modal-container .re-slider-track {
  background: transparent;
}

.risk-modal-container .re-slider-rail {
  width: auto;
  padding: var(--size-14) var(--size-12);
  left: -30px;
  right: -40px;
  background-color: var(--bg-secondary);
  border: solid 1px transparent;
  border-radius: var(--size-4);
}
.risk-modal-container .risk-limit {
  font-size: var(--size-12);
  margin-top: 50px;
  padding: var(--size-8) 0;
  background-color: var(--bg-tertiary);
  border-radius: var(--size-4);
}
.risk-modal-container .risk-limit-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: var(--size-4) 0;
}

.risk-modal-container .risk-limit-row > div:first-child {
  text-align: left;
  padding-left: var(--size-20);
}
.risk-modal-container .risk-limit-row > div {
  width: 25%;
  text-align: center;
}
.risk-modal-container .risk-tip {
  line-height: var(--size-20);
  margin-top: var(--size-20);
  padding-top: var(--size-16);
  font-size: var(--size-12);
}
