.preferNav {
  position: relative;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--line-border-default);
  &__right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
  }
}
