.perfer-symbol-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: 100%;
  margin-right: 24px;

  .perfer-line {
    width: 1px;
    height: 28px;
    margin-right: 16px;
    background-color: var(--line-border-default);
  }


  .detail-scroll {
    // margin: 0 24px;
    width: calc(100% + 20px); //用于

    .single-field {
      margin-right: 22px; //24px
      color: var(--text-primary);
      flex: 0;
      .last-price {
        color: var(--text-brand-default) !important;
        font-size: 16px !important;
        font-weight: 500 !important;
      }
      .icon-0fee {
        color: var(--text-brand-default) !important;
      }

      .title {
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: var(--text-secondary);
        white-space: nowrap;
      }

      .content {
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
      }

    }
  }
}

.symbol-list__drop-down {
  max-width: 560px;

  // background:var(--bg-tertiary);
  :global {
    .ant-tooltip-content{
      .ant-tooltip-arrow {
        display: none;
      }
      .ant-tooltip-inner {
        background: var(--fill-fill-modal, #18191c) !important;
        border: 1px solid var(--line-border-default, #303336) !important;
      }
    }
    
  }
}

.symbol-list-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  .symbols {
    display: flex;
    align-items: center;
  }
  .symbols-active{
    color: var(--text-brand-default-web);
  }

  .symbol-name {
    font-size: 16px;
    margin: 0 8px;
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
  }
}


