.eventTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
  border-bottom: 0.5px solid var(--line-border-default, #37393a);
  margin-bottom: 16px;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tabItem {
    position: relative;
    flex-shrink: 0;
    white-space: nowrap;
    margin: 0;
    padding: 16px 8px 16px 32px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.3s ease;

    // Customize font-size for English (US) locale
    :global(html[lang='en-US']) & {
      font-size: 16px;
      line-height: 32px;
      padding: 16px 8px 16px 28px;
    }

    &.active {
      color: var(--text-brand-default);
      background: url('@{BASE_PATH}/images/PC/tab_selected_border.svg') no-repeat bottom,
      url('@{BASE_PATH}/images/PC/tab_selected_bg.svg') no-repeat bottom;

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        bottom: 20px;
        background: url('@{BASE_PATH}/images/PC/star.svg') no-repeat bottom;
        background-size: contain;
        transform: scale(0);
        transition: transform 0.3s ease;
        animation: scaleUp 0.3s ease forwards;
      }
    }

    &:hover {
      color: var(--text-brand-default);
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}