.page {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 100%;

  :global {
    .ant-layout-sider {
      height: calc(100vh - 64px);
    }

    .ant-layout-sider-children {
      border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
      height: 100%;
    }


  }
}

.collapsedIcon {
  margin: 16px 16px 0;
}

.icon {
  margin-left: -12px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.activeAccount {
  background: url('@{BASE_PATH}/images/safe-active.svg') no-repeat center;
}

.noActiveAccount {
  background: url('@{BASE_PATH}/images/safe.svg') no-repeat center;
}


.menu {
  width: fit-content;
  min-width: 240px;
  border-right: 1px solid #EBEDF1;

  :global {
    .ant-menu-inline {
      width: max-content !important;
      min-width: 100%;
    }

    .ant-menu .ant-menu-title-content {
      overflow: visible;
      text-overflow: unset;
    }

    .ant-menu .ant-menu-item {
      width: auto;
      min-width: 238px;
      border-radius: 0;
      height: 64px;
      line-height: 64px;
      margin-inline: 0px;
      margin-block: 0px;
      padding-inline-end: 24px;
    }

    .ant-menu-light .ant-menu-item-selected {
      background-color: var(--fill-tag-brand-transparent, rgba(171, 225, 39, 0.2));
      color: var(--text-brand-default, #abe127);
      border-right: 3px solid var(--text-brand-default, #abe127);
    }

    .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
      background-color: var(--fill-tag-brand-transparent, rgba(171, 225, 39, 0.2));
      color: var(--text-brand-default, #abe127);
    }
  }
}