.strategyType {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 18px;
  line-height: 18px;
  padding: 0;
  margin-bottom: 8px;
  .ocTif {
    flex: 1;
    margin-left: var(--size-12);
    text-align: right;
    flex-basis: 100px;
    margin-right: -8px;
  }
}