.bindInviteCodeContainer {
  :global {

    .ant-input,
    .ant-input-affix-wrapper {
      border-color: transparent;

      &:hover {
        border-color: var(--text-brand-default);
      }

      &:focus {
        border-color: var(--text-brand-default);
      }
    }

    .ant-btn-primary {
      height: 48px;
      width: 100%;
      background-color: var(--text-brand-default);
      color: #fff;
      font-weight: 700;
      border-radius: 8px;

      &:hover {
        opacity: 0.8;
      }

      .ant-btn-primary:disabled {
        color: #fff;
        background: var(--text-brand-default);
        opacity: 0.3;
        cursor: not-allowed;
      }

      // &:disabled{
      //   opacity: .3;
      //   color: #000;
      //   cursor: not-allowed;
      // }
    }
  }

  .userInp {
    background-color: rgb(245, 247, 250);
    color: rgb(18, 18, 20);
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    // input{
    //   background-color: rgb(245 247 250/var(--tw-bg-opacity));
    // }
  }

  .skip {
    // margin-top: 10px;
    text-align: center;
    cursor: pointer;
  }
}
