.eventTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  border-bottom: 0.5px solid var(--line-border-default, #37393a);
  margin-bottom: 16px;

  .tabItem {
    position: relative;
    margin: 0 32px;
    padding: 16px 32px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.3s ease;

    &.active {
      color: var(--text-brand-default);
      background: url('@{BASE_PATH}/images/PC/tab_selected_border.svg') no-repeat bottom,
      url('@{BASE_PATH}/images/PC/tab_selected_bg.svg') no-repeat bottom;

      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 36px;
        left: 0;
        bottom: 20px;
        background: url('@{BASE_PATH}/images/PC/star.svg') no-repeat bottom;
        transform: scale(0);
        transition: transform 0.3s ease;
        animation: scaleUp 0.3s ease forwards;
      }
    }

    &:hover {
      color: var(--text-brand-default);
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}