.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 32px;
  border: 1px solid var(--line-border-default, #EBEBEB);
  border-radius: 16px;
  background-color: #ffffff;

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardTitle {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--text-primary, #101112);
    }
  }

  .cardBody {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .rowInfo {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;
    }

    &:last-child .rowInfo {
      margin-bottom: 0;
    }

    .rowLabel {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: var(--text-primary, #101112);
    }

    .rowDesc {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: var(--text-secondary, #7D8688);
    }

    .rowAction {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
