.tasksSection {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 16px;

  .tasksTabs {
    width: 100%;
  }

  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
  }

  .taskItemContainer {
    width: 100%;

    .taskView {
      font-size: 12px;
      font-weight: 500;

      span:first-child {
        color: var(--text-secondary);
      }

      span:last-child {
        color: var(--text-brand-default, var(--text-brand-default));
        cursor: pointer;
      }

      svg {
        margin-left: 4px;
      }
    }

    .taskItem {
      width: 100%;
      border-radius: 16px;
      border: 1px solid var(--line-border-default, #37393a);
      padding: 16px;
      margin-top: 16px;
      color: var(--text-primary, #fff);

      .title {
        font-size: 15px;
        font-weight: 500;
        margin: 8px 0 12px;
      }

      .content {
        width: 100%;

        .text {
          color: var(--text-secondary);
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 4px;

          .point {
            color: var(--text-brand-default, var(--text-brand-default));
            font-size: 14px;
            font-weight: 400;
            margin: 0 4px 0 8px;
          }
        }

        .progressBar {
          margin: 8px 0 24px;
        }

        button {
          border: none;
          border-radius: 12px;
          color: var(--text-black, #101112);
          background-color: transparent;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          padding: 12px;
          width: 100%;
        }

        .doneBtn {
          cursor: default;
          padding: 10px 0;
          color: var(--text-white);
          background: var(--fill-button-tertiary-btn-default, #28292a);
        }

        .todoBtn {
          background: var(--fill-button-brand-default);
        }

        .todoBtn:hover {
          background: var(--fill-button-brand-hover);
        }
      }

      .giftBoxWrapper {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: baseline;

        .giftNumWrapper {
          padding: 4px 16px;
          margin-right: 48px;
          border-radius: 12px;
          background: var(
            --fill-button-secondary-default,
            rgba(120, 56, 255, 0.1)
          );

          .number {
            color: var(--text-brand-default);

            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.165px;
          }
        }

        .giftAmount {
          color: var(--text-brand-default);
          font-size: 32px;
          font-style: normal;
          font-weight: var(--Bold, 600);
          line-height: 40px;
          /* 125% */
          letter-spacing: -0.32px;
          margin-right: 8px;
          padding-bottom: 8px;
        }

        .giftType {
          color: var(--text-secondary);
          font-size: 12px;
          font-style: normal;
          font-weight: var(--Regular, 400);
          line-height: 18px;
          /* 150% */
          margin-bottom: 2px;
        }
      }
    }

    .taskItem:last-child {
      margin-bottom: 0;
    }

    .taskEmpty {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;

      span {
        margin-top: 16px;
        color: #fff;
      }

      .activitisEmptyImg {
        width: 80px;
        height: 80px;
        background: url('@{BASE_PATH}/images/PC/taskEmpty.png') no-repeat center;
        background-size: contain;
      }

      .signIn {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          margin-bottom: 12px;
          font-size: 14px;
          color: var(--text-secondary);
        }

        .btn {
          min-width: 160px;
          width: min-content;
          border: none;
          border-radius: 12px;
          background: transparent;
          border: 1px solid var(--line-border-default, #37393a);
          color: #fff;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          padding: 12px 24px;
          margin-top: 32px;

          &:hover {
            opacity: 0.9;
          }

          .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
