.container {
  .main {
    max-width: 1200px;
    margin: 40px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .main {
      margin-top: 40px;
      padding: 0 16px;
    }
  }
}
