.progress_container {
    height: 8px;
    border-radius: 8px;
    background-color: #D0D3D9;

    .progress_bar {
        border-radius: 8px;
        background: var(--text-brand-default);
    }
}

@media screen and (max-width: 768px) {
    .progress_container {
        height: 4px;
        border-radius: 8px;
        background-color: #D0D3D9;

        .progress_bar {
            border-radius: 8px;
            background: var(--text-brand-default);
        }
    }

}