.panel {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  // padding: 4px 0;
}

.klineDialogItem {
  display: flex;
  align-items: center;
  // margin: 0 -16px;
  // margin: 0 4px;
  height: 44px;
  padding: 0 8px;
  border-radius: 4px;
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--fill-fill-hover-1);
  }

  // &:first-child {
  //   padding-top: 4px;
  // }

  // &:last-child {
  //   padding-bottom: 4px;
  // }

  :global {
    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      color: var(--text-primary);
      font-size: 14px;
      line-height: 20px;

      .ant-checkbox {
        top: 0;

        .ant-checkbox-inner {
          width: 16px;
          height: 16px;
          background: transparent;
          border: 1px solid var(--line-border-checkbox, #464d51);
          border-radius: 4px;
        }
      }

      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: var(--text-brand-default-web);
          border-color: var(--text-brand-default-web);
        }

        .ant-checkbox-inner::after {
          border-color: var(--text-white-to-black);
        }

        &::after {
          display: none;
        }
      }

      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-checked:hover .ant-checkbox-inner {
        border-color: var(--text-brand-default-web);
      }
    }
  }
}

.klineDialogTip {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &.unchecked {
    color: var(--text-primary);
  }

  &.checked {
    color: var(--text-primary);
  }
}

:global {
  .quick-operation-popover {
    padding-top: 0 !important;
    .ant-popover-inner {
      background-color: var(--fill-fill-modal);
      border: 1px solid var(--line-border-default);
      border-radius: 8px;
      // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    }

    .ant-popover-inner-content {
      // padding: 10px 8px;
      padding: 4px;
    }

    .ant-popover-arrow-content {
      background-color: var(--fill-fill-modal);

      &::before {
        background: var(--fill-fill-modal);
      }
    }
  }
}
