:global {
  .symbol-search__com {
    padding: 16px;
  }

  .symbol-search__icon {
    color: var(--text-tertiary);
  }

  .symbol-search__ctr .symbol-search__icon.hide {
    display: none;
  }

  .symbol-search__ipt {
    height: var(--size-40);
  }

  .symbol-search__ipt input {
    color: var(--text-primary);
  }

  .symbol-search__ipt input::-webkit-input-placeholder {
    color: var(--text-tertiary);
  }
}

