.overviewContainer {
  height: 100%;
  padding: 0 16px;

  .mr8 {
    margin-right: 8px;
  }

  // .mb16{
  //   margin-bottom: 16px;
  // }
  .checkWrapper {
    margin-bottom: 16px;

    :global {
      .adm-checkbox .adm-checkbox-icon {
        border-radius: 2px;
        width: 16px;
        height: 16px;
      }

      .adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
        border-color: var(--text-brand-default);
        background-color: var(--text-brand-default);


        svg {
          color: #000;
        }
      }

      .adm-checkbox-content {
        color: var(--text-primary, #FFF);
        font-size: 12px;
      }
    }
  }

  .filterCard {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 16px 0;

    &_title {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
    }

    &_icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url('@{BASE_PATH}/images/arrow-down.png') no-repeat center;
      background-size: cover;
    }
  }
}

.userOverviewList {
  height: calc(100% - 56px);
  overflow: auto;

  .noMoreText {
    color: #8c8c8c;
  }
}

.listItem {
  border-radius: 8px;
  border: 1px solid #222 !important;
  margin: 0 0 24px;
  padding: 16px !important;
}

.popupContainer {
  height: 100%;
  padding: 16px 16px 40px;
  color: #fff;
  font-size: 14px;

  .popup_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .popup_header_title {
      font-size: 16px;
      font-weight: 600;
    }

    .popup_header_close {
      width: 24px;
      height: 24px;
      background: url('@{BASE_PATH}/images/close.png') no-repeat center;
      background-size: cover;
    }
  }

  .content {
    margin-top: 32px;
    padding: 8px 16px;
    color: #fff;
    border-radius: 4px;
    background: #2e2e2e;
  }

  .btn {
    margin-top: 24px;
  }
}

.filterPopupContainer {
  height: 100%;
  padding: 16px 10px 40px;
  color: #fff;
  font-size: 14px;

  .btn {
    margin: 0 auto;
    width: 100px;
    margin-top: 16px;
    text-align: center;
  }
}