.activitisSection {
  padding: 0 24px;
  margin-bottom: 80px;

  .activitisTitle {
    color: #18191c;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .activitisTabs {
    width: 100%;
    color: #000;
  }

  .activitisItemContainer {
    .activitisEmpty {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 48px;

      span {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
      }

      .activitisEmptyImg {
        width: 120px;
        height: 120px;
        background: url('@{BASE_PATH}/images/PC/taskEmpty.png') no-repeat center;
        background-size: contain;
      }
    }

    .activitisItem:first-child {
      margin-top: 16px;
    }

    .activitisItem:hover {
      border: 1px solid #d4c1ff;
    }

    .activitisItem {
      display: flex;
      position: relative;
      border-radius: 24px;
      border: 1px solid #e9ecef;

      margin-bottom: 32px;
      cursor: pointer;

      .img {
        height: 160px;

        img {
          height: 100%;
          border-radius: 24px 0 0 24px;
        }
      }

      .activites {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;

        .left {
          .title {
            font-size: 24px;
            font-weight: 600;
          }

          .text {
            font-size: 16px;
            font-weight: 400;
            margin: 8px 0;
          }

          .time {
            color: var(--text-secondary);
            font-size: 12px;
          }
        }

        .right {
          .doneBtn {
            cursor: default;
            color: var(--text-white);
            background: var(--fill-button-tertiary-btn-default, #28292a);
          }

          .todoBtn {
            background: var(--fill-button-brand-default);
          }

          .todoBtn:hover {
            background: var(--fill-button-brand-hover);
          }

          button {
            border: none;
            border-radius: 12px;
            color: var(--text-black, #101112);
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            word-wrap: break-word;
            padding: 12px 24px;
            width: 160px; //宽度固定，高度不固定
          }
        }
      }

      .tag {
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        padding: 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 0px 24px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
      }

      .processing {
        // background: var(--fill-tag-green, #E3FAF3);
        background: #e3faf3;
        color: var(--text-brand-default);
      }

      .finished {
        // background: var(--fill-tag-gray, #EEE);
        background: #eee;
        color: var(--text-secondary);
      }
    }

    .activitisItem:last-child {
      margin-bottom: 0;
    }
  }
}
