.AppStatus {
  margin-top: 16px;
  width: fit-content;
  background: #FFF;
  border-radius: 100px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  font-size: 12px;

  span {
    color: #18191C;
    line-height: 18px;
  }

  .linkColor {
    color: var(--text-brand-default);
    cursor: pointer;
  }

  .gap {
    margin: 0 8px;
  }
}