.toggle {
  display: flex;
  margin-right: 12px;
  margin-left: 12px;
  align-items: center;
  height: 32px;
  width: 100px;
  border: solid 1px var(--text-brand-default-web);
  border-radius: 8px;
  padding: 2px;
  border: 2px solid var(--text-brand-default-web);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  gap: 4px;

  a {
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    color: var(--text-primary);
    padding: 0 8px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      background: var(--fill-button-brand-default-hover);
      color: var(--text-brand-default-web);
    }
  }
}

.active {
  background: var(--fill-button-brand-default);
  color: var(--text-brand-default-web);
}
