.ant-checkbox-wrapper {
  color: var(--text-primary);
  font-size: 12px;

  .ant-checkbox {
    .ant-checkbox-inner {
      background: transparent;
      border: 1px solid var(--line-border-checkbox, #464d51);
      border-radius: 4px;
    }
  }

  .ant-checkbox:hover,
  .ant-checkbox-checked:hover {
    .ant-checkbox-inner {
      border-color: var(--text-primary);
    }
  }

  .ant-checkbox-checked::after {
    border-color: var(--text-primary);
  }

  .ant-checkbox-checked {
    // 背景色
    .ant-checkbox-inner {
      background-color: var(--text-primary);
      border-color: var(--text-primary);
    }

    // 对钩
    .ant-checkbox-inner:after {
      border-color: var(--text-white-to-black);
    }
  }
}