.ocPriceInputWrapper {
	display: flex;

	// position: relative;
	.left {
		flex: 1;

		.labelText {
			padding: 12px 12px 0px;
		}

		// 阻止 addonAfter 区域的文本选择
		:global(.ant-input-number-group-addon) {
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}

	.right {
		width: 36px;
		border-left: 1px solid var(--line-border-default);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.svgWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50%;
			width: 100%;
			cursor: pointer;


			svg:first-child {
				border-bottom: 1px solid var(--line-border-default);
			}
		}

		.svgWrapper:first-child {
			border-bottom: 1px solid var(--line-border-default);
		}

	}

	.last {
		color: var(--text-brand-default-web);
		cursor: pointer;

	}

	.unit {
		margin-left: 8px;
	}


}