body {
  margin: 0;
  background-color: #FFFFFF;

  #udesk_btn {
    display: none;
  }

  .anticon-loading {
    color: var(--text-brand-default, #ABE127) !important;
  }
  .global-input-style {
    .ant-input-outlined {
      border-color: var(--fill-fill-input, #F2F3F4) !important;
      &:hover {
        border-color: var(--text-brand-default-web, #93C919) !important;
      }
    }
    .ant-input-disabled {
      border-color: var(--line-border-default, #EBEBEB) !important;
      &:hover {
        border-color: var(--line-border-default, #EBEBEB) !important;
      }
    }
  }
  .ant-checkbox .ant-checkbox-inner:after {
    border-color: #070808!important;
  }

  .coin-dropdown-overlay {
    .ant-dropdown-menu {
      background-color: #1D1D1D !important;
      .ant-dropdown-menu-item {
        color: #F5F5F5 !important;
        &:hover {
          background-color: #28292A !important;
        }
      }
      .ant-dropdown-menu-item-selected {
        background-color: #28292A !important;
      }
    }
  }

  .ant-modal-content {
    border-radius: 12px !important;
  }


}
