.carousel {
  width: 100%;
  position: relative;
  margin: 40px auto;
  height: 179px;
  overflow: hidden;
  user-select: none;
}

.backgroundLayer {
  position: absolute;
  inset: 0;
  top: 16.5px;
  height: 141px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.greenLayer {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--text-brand-default, #ABE127);
}

.contentLayer {
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  height: 49px;
  display: flex;
  align-items: center;
}

.marqueeWrapper {
  display: flex;
  align-items: center;
}

.notificationItem {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 28px;
  white-space: nowrap;
}

.noticeIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.notificationText {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .carousel {
    margin: 40px 0 56px 0;
    height: 102px;
  }

  .backgroundLayer {
    top: 0;
    height: 100%;
    background-image: url('@{BASE_PATH}/images/carousel-bg-h5.svg') !important;
    background-size: cover;
  }

  .greenLayer {
    top: 32px;
    height: 38px;
    background: #48aa5c;
  }

  .contentLayer {
    top: 33px;
    height: 37px;
  }

  .notificationItem {
    gap: 3px;
    margin: 0 12px;
  }

  .noticeIcon {
    width: 12px;
    height: 12px;
  }

  .notificationText {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }
}
