.right-part {
  width: 500px;

  .withdrawTips {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    border: 0.5px solid var(--function-orange, #FF5F00);
    background: var(--fill-tag-orange, rgba(255, 95, 0, 0.12));
    margin-bottom: 16px;
    gap: 8px;

    .tipsIcon {
      width: 20px;
      height: 16px;
      margin-top: 2px;
      background: url('@{BASE_PATH}/images/tips.svg') no-repeat;
    }

    .tipsText {
      color: var(--function-orange, #FF5F00);
      font-size: 12px;
    }
  }

  .eyesIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .visibleEyes {
    background: url('@{BASE_PATH}/images/visibleEyes.svg') no-repeat
  }

  .unvisibleEyes {
    background: url('@{BASE_PATH}/images/unVisibleEyes.svg') no-repeat
  }

  .disVisible {
    display: none;
  }

  .error {
    color: var(--text-red, #ff4d4f);
    font-size: 14px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .title {
      font-size: 24px;
      font-weight: 500;
      color: var(--text-primary, #F5F5F5);
    }

    .backIcon {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      cursor: pointer;
      background: url('@{BASE_PATH}/images/goback.svg') no-repeat;
      display: inline-block;
    }
  }

  .sentCodeBtn {
    // height: 100%;
    color: var(--text-brand-default);
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    border: none;

    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
  }

  .sentDisable {
    opacity: .4;
    cursor: not-allowed;
  }

  :global {
    .ant-form-item-label {
      text-align: left !important;
    }

    .ant-form-item-label>label {
      font-size: 14px;
      line-height: 18px;
      color: var(--Text-tertiary, #888) !important;
    }

    .ant-row {
      display: block;
    }

    .ant-btn {
      width: 100%;
      height: 48px;
      border-radius: 12px;
    }

    .ant-input {
      padding: 12px !important;
      border-radius: 12px;
    }

    .ant-input-affix-wrapper {
      padding: 0px 12px 0 0 !important;
      border-radius: 12px;
    }

    .ant-input-group-wrapper-outlined .ant-input-group-addon:first-child {
      border-start-start-radius: 12px;
      border-end-start-radius: 12px;
    }

    .ant-input-affix-wrapper>input.ant-input {
      border-radius: 12px !important;
    }

    .ant-btn-primary {
      height: 48px;
      width: 100%;

      &:hover {
        opacity: .8;
      }

      &:disabled {
        border: none !important;
      }
    }
  }
}

.rulePop {
  :global {
    .ant-tooltip-inner {
      color: #737373;
      background-color: #FFF;
      padding: 12px !important;
      min-width: 280px !important;
    }

    .ant-tooltip-arrow:before {
      background-color: #FFF !important;
    }
  }

  .pwdRuleItem {
    display: flex;
    align-items: center;

    .checkIcon {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-right: 8px;
    }

    .unCheckIcon {
      background: url('@{BASE_PATH}/images/check.svg') no-repeat;
    }

    .checkOKIcon {
      background: url('@{BASE_PATH}/images/checkOk.svg') no-repeat;
    }
  }
}

/* mobile */
@media (max-width: 767px) {
  .right-part {
    width: 100%;
    box-sizing: border-box;
  }
}
