.container {
  height: 100%;
  overflow: hidden;

  :global {
    .ant-tabs-nav {
      padding: 0 12px;
    }
    .ant-tabs-tab {
      padding: 11px 0;
    }

    .ant-tabs-content-holder,
    .ant-tabs-content,
    .ant-tabs-tabpane-active {
      height: 100%;
      overflow: hidden;
    }
  }
}
