.cashIntroSection {
  max-width: 960px;
  margin: 100px auto 100px;

  .title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .introItem {
    margin: 18px 0;

    .introTitle {
      color: var(--text-brand-default);
      font-size: 20px;
      font-style: normal;
      font-weight: var(--Bold, 600);
      line-height: 28px;
      padding: 8px 0;
    }

    .introListItem {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 8px 0;
      align-self: flex-start;

      .introListItemCount {
        width: 24px;
        height: 24px;
        color: #fff;
        border-radius: 12px;
        background: #302e33;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 145.455% */
      }

      .introListItemContent {
        flex: 1;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        a {
          color: var(--text-brand-default);
          text-decoration: underline;
        }
      }
    }
  }
}