.ant-modal-root .ant-modal-footer {
  .ant-btn-primary:hover {
    background: var(--fill-button-brand-hover) !important;
  }
}

// button
.ant-btn {
  box-shadow: none !important;
  text-shadow: none !important;
  border: none !important;
  border-radius: var(--size-4) !important;
  cursor: pointer;
}

.ant-btn-primary {
  background: var(--fill-button-brand-default) !important;
  color: var(--text-white-to-black) !important;
}

// 下单区 sell按钮会有问题
.ant-btn-primary:hover {
  background: var(--fill-button-brand-hover);
  color: var(--long-text);
}

.ant-btn-primary[disabled] {
  background: var(--fill-button-primary-disabled) !important;
}

.ant-btn-default {
  color: var(--text-primary);
  background: var(--fill-button-tertiary-default) !important;
}

.ant-btn-default:hover {
  color: var(--text-primary);
  background: var(--fill-button-tertiary-hover) !important;
}

.ant-btn-outlined {
  height: 26px !important;
  padding: 4px 8px !important;
  border-radius: var(--size-4) !important;
  // border: 1px solid var(--line-border-default) !important;
  color: var(--text-primary, #101112) !important;
  background: var(--fill-button-tertiary-default) !important;
  cursor: pointer;
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  color: var(--text-tertiary, #565a5c) !important;
}
.ant-btn-outlined[disabled]:hover {
  border: 1px solid var(--line-border-default, #37393a) !important;
}

.ant-btn-outlined:hover {
  background: var(--fill-button-tertiary-hover) !important;
}

.ant-btn-outlined:active {
  background: var(--fill-button-tertiary-press) !important;
}

.ant-btn-link {
  color: var(--text-brand-default-web) !important;
}

.ant-btn-sm {
  font-size: 12px;
  height: auto;
}

// slider
.ant-slider:hover,
.ant-slider {
  .ant-slider-track,
  .ant-slider-track:hover {
    height: 2px !important;
    background-color: var(--text-primary, #101112) !important;
  }

  .ant-slider-rail,
  .ant-slider-rail:hover {
    height: 3px !important;
    background-color: var(--fill-fill-slider) !important;
  }

  .ant-slider-handle,
  .ant-slider-handle:hover {
    border: 3px solid var(--text-primary, #101112) !important;
    border-radius: 50%;
    margin-top: -6px;
    background-color: var(--bg-primary);
  }

  .ant-slider-handle:focus {
    box-shadow: none !important;
  }

  .ant-slider-dot {
    position: absolute;
    top: -4px;
    width: 12px;
    height: 12px;
  }

  .ant-slider-step,
  .ant-slider-step:hover {
    .ant-slider-dot,
    .ant-slider-dot:hover {
      border: 3px solid var(--line-border-default);
      margin-top: -1px;
      background: var(--bg-primary);
    }

    .ant-slider-dot.ant-slider-dot-active {
      border-color: var(--text-primary, #101112) !important;
    }
  }

  .ant-slider-mark,
  .ant-slider-mark:hover {
    top: 20px !important;

    .ant-slider-mark-text {
      color: var(--text-secondary);
      font-size: 12px;
    }
  }
}

// tooltip
.ant-tooltip {
  .ant-tooltip-arrow-content::before {
    background: var(--fill-fill-tooltip-web);
  }

  .ant-tooltip-inner {
    background: var(--fill-fill-tooltip-web);
    font-size: 12px;
    border-radius: 12px;
    padding: 8px 12px;
  }
}

// drawer
.ant-drawer{
  .ant-drawer-mask{
    background: var(--fill-fill-mask);
  }
  .ant-drawer-content {
    color: var(--text-primary);
    
  
    .ant-drawer-wrapper-body {
      background: var(--fill-fill-modal);
  
      .ant-drawer-header {
        border-bottom: 1px solid var(--line-border-default);
  
        .ant-drawer-title {
          color: var(--text-primary);
        }
  
        .ant-drawer-close {
          display: none;
        }
      }
  
      .ant-drawer-body {
        padding: 0 24px;
      }
    }
  }
  

}

// inputnumber框不需要样式
.label-input__container {
  width: 100%;
  color: var(--text-secondary);
  background: var(--fill-fill-input);
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid transparent;

  .ant-input {
    height: 40px;
    border: none;
    color: var(--text-primary);
  }

  .ant-input-number-group-wrapper:focus-within {
    border-color: none;
    caret-color: none;
  }

  .ant-input-number-input-wrap {
    width: 100%;
    // padding-top: 40px;
  }

  .ant-input-number:hover,
  .ant-input-number:focus,
  .ant-input-number-focused {
    border: none !important;
  }

  .ant-input-number {
    border: none !important;
  }
}

.label-input__container:active,
.label-input__container:focus-within,
.label-input__container:hover {
  // border: 1px solid;
  border-color: var(--text-brand-default-web);
  // box-sizing: border-box;
}

//
.ant-switch {
  background-color: var(--fill-fill-switch2) !important;
}

.ant-switch-checked {
  background-color: var(--text-brand-default-web) !important;
}

.ant-switch-checked:focus {
  box-shadow: none !important;
}
