
/* 公共classname */
.white {
  color: var(--text-primary);
}
.black {
  color: var(--text-black);
}
.brand-color {
  color: var(--text-brand-default-web);
}

.long {
  color: var(--long);
}

.short {
  color: var(--short);
}

.success {
  color: var(--function-green);
}
.warn {
  color: var(--function-orange);
}
.error,
.danger {
  color: var(--function-red);
}
.info {
  color: var(--function-blue);
}

/* font color */
.text-tertiary {
  color: var(--text-tertiary);
}
.text-secondary {
  color: var(--text-secondary);
}


/* weight */
.bold {
  font-weight: bold;
}
.semi-bold {
  font-weight: 500;
}

.full {
  width: 100%;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.flex1 {
  flex: 1;
}
.space-between {
  justify-content: space-between;
}

.mt-12 {
  margin-top: 12px;
}



.dashed-border {
  border-bottom: 1px dashed var(--line-dotted-line);
  text-decoration-style: dashed;
  cursor: pointer;
}
.circle-loading {
  animation: circle infinite 1s linear;
}


/* font size */
.f-8 {
  font-size: var(--font-size-8);
}
.f-10 {
  font-size: var(--font-size-10);
}
.f-12 {
  font-size: var(--font-size-12);
}
.f-14 {
  font-size: var(--font-size-14);
}
.f-16 {
  font-size: var(--font-size-16);
}
.f-18 {
  font-size: var(--font-size-18);
}
.f-20 {
  font-size: var(--font-size-20);
}
.f-24 {
  font-size: var(--font-size-24);
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
