@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.woff2?t=1628738750915') format('woff2'),
    url('../iconfont/iconfont.woff?t=1628738750915') format('woff'),
    url('../iconfont/iconfont.ttf?t=1628738750915') format('truetype');
}

#modal-root .iconfont,
.ant-modal-root .iconfont,
.ant-drawer .iconfont,
.ant-tooltip .iconfont,
#root .iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .iconfont:hover {
  cursor: pointer;
}

.icon-blog:before {
  content: '\e896';
}

.icon-ins-copy:before {
  content: '\e89a';
}

.icon-youtube-copy:before {
  content: '\e89b';
}

.icon-light:before {
  content: '\e803';
}

.icon-search:before {
  content: '\e889';
}

.icon-search-del:before {
  content: '\e900';
}

.icon-dark:before {
  content: '\e804';
}

.icon-kaicangmode:before {
  content: '\e805';
}

.icon-video:before {
  content: '\e888';
}

.icon-transferin:before {
  content: '\e887';
}

.icon-import:before {
  content: '\e886';
}

.icon-chatroom:before {
  content: '\e8a4';
}

.icon-chat:before {
  content: '\e8a5';
}

.icon-star:before {
  content: '\e870';
}

.icon-star:before {
  content: '\e870';
}

.icon-change:before {
  content: '\e878';
}

.icon-profile:before {
  content: '\e848';
}

.icon-calculator:before {
  content: '\e846';
}

.icon-import:before {
  content: '\e886';
}

.icon-transferin:before {
  content: '\e887';
}

.icon-close1:before {
  content: '\e900';
}

.icon-search:before {
  content: '\e889';
}

.icon-video:before {
  content: '\e888';
}

.icon-light:before {
  content: '\e803';
}

.icon-kaicangmode:before {
  content: '\e805';
}

.icon-dark:before {
  content: '\e804';
}

.icon-step3:before {
  content: '\e852';
}

.icon-step1:before {
  content: '\e854';
}

.icon-step2:before {
  content: '\e850';
}

.icon-step5:before {
  content: '\e851';
}

.icon-step4:before {
  content: '\e853';
}

.icon-1tu:before {
  content: '\e856';
}

.icon-4tu:before {
  content: '\e858';
}

.icon-3tu:before {
  content: '\e857';
}

.icon-chatroom:before {
  content: '\e8a4';
}

.icon-chat:before {
  content: '\e8a5';
}

.icon-blog:before {
  content: '\e896';
}

.icon-telegram:before {
  content: '\e88b';
}

.icon-reddit:before {
  content: '\e88c';
}

.icon-weibo:before {
  content: '\e88d';
}

.icon-facebook:before {
  content: '\e88e';
}

.icon-linkedin:before {
  content: '\e88f';
}

.icon-kakaotalk:before {
  content: '\e890';
}

.icon-ins:before {
  content: '\e891';
}

.icon-youtube:before {
  content: '\e892';
}

.icon-twitter:before {
  content: '\e893';
}

.icon-line:before {
  content: '\e894';
}

.icon-wechat:before {
  content: '\e895';
}

.icon-slideout1:before {
  content: '\e84b';
}

.icon-slidein:before {
  content: '\e84c';
}

.icon-disvisiable:before {
  content: '\e898';
}

.icon-invisiable:before {
  content: '\e899';
}

.icon-smallarrowdown:before {
  content: '\e809';
}

.iconlist:before {
  content: '\e82f';
}
.icon-list:before {
  content: '\e82f';
}

.icon-alart:before {
  content: '\e855';
}

.icon-account:before {
  content: '\e837';
}

.icon-phone:before {
  content: '\e836';
}

.icon-phone1:before {
  content: '\e836';
}

.icon-favored:before {
  content: '\e801';
}

.icon-favor:before {
  content: '\e802';
}

.icon-zhankai:before {
  content: '\e884';
}

.icon-backtoold:before {
  content: '\e87f';
}

.icon-buyCrypto:before {
  content: '\e879';
}

.icon-recharge:before {
  content: '\e87a';
}

.icon-examine:before {
  content: '\e84f';
}

.icon-learnmore:before {
  content: '\e84e';
}

.icon-delete:before {
  content: '\e847';
}

.icon-i:before {
  content: '\e849';
}

.icon-add:before {
  content: '\e84a';
}

.icon-change:before {
  content: '\e878';
}

.icon-calculator:before {
  content: '\e846';
}

.icon-xia:before {
  content: '\e845';
}

.icon-shang:before {
  content: '\e845';
  display: inline-block;
  transform: rotate(180deg);
}

.icon-clear:before {
  content: '\e844';
}

.icon-shijia:before {
  content: '\e841';
}

.icon-zhishu1:before {
  content: '\e842';
}

.icon-biaoji:before {
  content: '\e843';
}

.icon-setup:before {
  content: '\e83f';
}

.icon-zhibiao:before {
  content: '\e83a';
}

.icon-type:before {
  content: '\e840';
}

.icon-date1:before {
  content: '\e838';
}

.icon-export1:before {
  content: '\e839';
}

.icon-refresh:before {
  content: '\e83d';
}

.icon-drag:before {
  content: '\e83e';
}

.icon-false:before {
  content: '\e830';
}

.icon-notice:before {
  content: '\e83b';
}

.icon-true:before {
  content: '\e83c';
}

.iconcorrect:before {
  content: '\e835';
}

.icon-c:before {
  content: '\e831';
}

.icon-minus:before {
  content: '\e832';
}

.icon-return:before {
  content: '\e833';
}

.icon-plus:before {
  content: '\e834';
}

.icon-close:before {
  content: '\e82e';
}

.icon-arrow-up:before {
  content: '\e82d';
}

.icon-none:before {
  content: '\e82c';
}

.icon-loading:before {
  content: '\e82b';
}

.icon-speed:before {
  content: '\e82a';
}

.icon-suoxiao:before {
  content: '\e829';
}

.icon-arrow:before {
  content: '\e81b';
}

.icon-down:before {
  content: '\e81c';
}

.icon-edit:before {
  content: '\e81f';
}

.icon-tax:before {
  content: '\e822';
}

.icon-exchange:before {
  content: '\e824';
}

.icon-fullscreen:before {
  content: '\e825';
}

.icon-more:before {
  content: '\e826';
}

.icon-zhishu:before {
  content: '\e827';
}

.icon-time:before {
  content: '\e828';
}
