/* 覆盖样式 */
// @import '~antd/dist/antd.dark.min.css';
@import './reset.css';
@import './iconfont.css';
@import './global.less';
@import './common-cls.less';
@import './antd-rewrite.less';

body{
  --frame-header-bg: var(--bg-primary) !important;
  .dex-footer{
    background-color: var(--bg-primary) !important;
  }
}

.zero-scrollbar::-webkit-scrollbar {
  height: 0px;
  overflow: -moz-scrollbars-none;
}

.zero-scrollbar.firefox {
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  overflow-y: hidden;
  scrollbar-width: none;
}



/* 拖拽角标样式覆盖 */
.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2) !important;
}

.react-draggable-transparent-selection {
  user-select: none;
}

