@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@custom-variant greenUpRedDown (&:is(.greenUpRedDown *));
@custom-variant redUpGreenDown (&:is(.redUpGreenDown *));
@custom-variant redUpBlueDown (&:is(.redUpBlueDown *));
@custom-variant lang-en-US (&:is([lang="en-US"] *));

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@theme {
  --breakpoint-xs: 280px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
  /*override default font*/

}

@theme inline {
  --color-primary: var(--primary);

  /* --color-candle-red: #FF4861;
  --color-candle-green: #0FBA74;
  --color-candle-blue: #4D8BFF; */

  /*涨跌颜色*/
  --color-long: var(--long);
  --color-short: var(--short);

  /* Text Colors */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-white: var(--text-white);
  --color-text-black: var(--text-black);
  --color-text-brand-default: var(--text-brand-default);
  --color-text-brand-hover: var(--text-brand-hover);
  --color-text-brand-press: var(--text-brand-press);
  --color-text-brand-disable: var(--text-brand-disable);
  --color-text-green: var(--text-green);
  --color-text-red: var(--text-red);

  /* Background Colors */
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);

  /* Fill Colors */
  --color-fill-input: var(--fill-fill-input);
  --color-fill-select: var(--fill-fill-select);
  --color-fill-dropdown: var(--fill-fill-dropdown);
  --color-fill-switch: var(--fill-fiil-switch);
  --color-fill-slider: var(--fill-fill-slider);
  --color-fill-tooltip: var(--fill-fill-tooltip);
  --color-fill-hover: var(--fill-fill-hover);
  --color-fill-modal: var(--fill-fill-modal);
  --color-fill-mask: var(--fill-fill-mask);

  /* Button Fill Colors */
  --color-button-primary-default: var(--fill-button-primary-default);
  --color-button-primary-hover: var(--fill-button-primary-hover);
  --color-button-primary-press: var(--fill-button-primary-press);
  --color-button-primary-disabled: var(--fill-button-primary-disabled);
  --color-button-secondary-default: var(--fill-button-secondary-default);
  --color-button-green-default: var(--fill-button-green-default);
  --color-button-green-hover: var(--fill-button-green-hover);
  --color-button-green-press: var(--fill-button-green-press);
  --color-button-green-disable: var(--fill-button-green-disable);
  --color-button-red-default: var(--fill-button-red-default);
  --color-button-red-hover: var(--fill-button-red-hover);
  --color-button-red-press: var(--fill-button-red-press);
  --color-button-red-disable: var(--fill-button-red-disable);

  /* Tag Fill Colors */
  --color-tag-brand: var(--fiil-tag-brand);
  --color-tag-blue: var(--fiil-tag-blue);
  --color-tag-green: var(--fiil-tag-green);
  --color-tag-red: var(--fiil-tag-red);
  --color-tag-gray: var(--fiil-tag-gray);

  /* Line Colors */
  --color-divider-primary: var(--line-divider-primary);
  --color-divider-secondary: var(--line-divider-secondary);
  --color-divider-tertiary: var(--line-divider-tertiary);
  --color-border-default: var(--line-border-default);
  --color-border-hover: var(--line-border-hover);

  /* Function Colors */
  --color-function-brand: var(--function-brand);
  --color-function-green: var(--function-green);
  --color-function-red: var(--function-red);
  --color-function-orange: var(--function-orange);
  --color-function-blue: var(--function-blue);
}

