:global {
  .symbol-sort__ctr {
    position: relative;
    display: inline-flex;
    margin-left: 2px;
    width: 10px;
    height: 16px;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .symbol-sort__sort-btn {
    border-bottom: 4px solid var(--text-secondary);
  }

  .symbol-sort__sort-btn--down {
    margin-top: 2px;
    border-top: 4px solid var(--text-secondary);
  }

  .symbol-sort__sort-btn,
  .symbol-sort__sort-btn--down {
    display: inline-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .symbol-sort__sort-btn.symbol-sort__type--sort {
    border-bottom: 4px solid var(--text-brand-default-web);
  }

  .symbol-sort__sort-btn--down.symbol-sort__type--sort {
    border-top: 4px solid var(--text-brand-default-web);
  }

  .symbol-sort__txt {
    vertical-align: middle;
  }

  .symbol-sort__txt,
  .symbol-sort__sort-btn,
  .symbol-sort__sort-btn--down {
    cursor: pointer;
    user-select: none;
  }
}

