body {
  --text-secondary: #a3a8ad;
  margin: 0;
  background-color: #fff;
  font-family: var(--font-family);

  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #fef9e6 !important;
    color: fieldtext !important;
  }

  #udesk_btn {
    display: none;
  }
}
