// 子 Tab (Radio Button 胶囊样式)
.subTabs {
  margin-bottom: 16px;
  border-radius: var(--Number-2, 8px);
  background: var(--bg-secondary, #1d1d1d);
  padding: 4px;
  display: inline-flex;
  align-items: center;
  height: 36px;
  border: none;

  :global(.ant-wave) {
    display: none !important;
  }
}

.button {
  padding: 0 12px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 28px !important;
  height: 28px !important;
  color: var(--text-primary, #f5f5f5) !important;
  background: transparent !important;
  border: none !important;
  transition: all 0.3s !important;
  border-radius: var(--Number-2, 8px) !important;

  &::before,
  &::after {
    display: none !important;
  }

  &:focus-within {
    outline: none !important;
  }
}

.buttonChecked {
  .button();
  background: var(--fill-fill-switch-switcher-model, #37393a) !important;

  &:hover {
    color: var(--text-primary, #f5f5f5) !important;
  }
}
