body {
  margin: 0;
  background-color: #ffffff;

  #udesk_btn {
    display: none;
  }

  .adm-action-sheet-button-list {
    max-height: 600px;
    overflow: scroll;
    font-size: 12px;

    .adm-action-sheet-button-item-name {
      font-size: 14px;
    }
  }
}
