.custom-login-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 32px;
  border-radius: 12px;
  border: 1px solid var(--line-border-default, #28292A);
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--text-brand-default, #abe127);
    // background-color: var(--fill-button-tertiary-hover);
  }
}

.custom-login-img {
  position: absolute;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.custom-login-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary, #666A6C);
  white-space: nowrap;
  text-align: center;
}

/* mobile */
@media (max-width: 767px) {
  .custom-login-button {
    padding: 0 14px;
  }

  .custom-login-text {
    font-size: 11px;
  }

  .custom-login-img {
    left: 14px;
    width: 16px;
    height: 16px;
  }
}
