.ant-input-group-wrapper {
  height: 40px;

  .ant-input-group-addon {
    background-color: var(--fill-fill-input);
    border: none;
  }

  .ant-input-group-addon:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .ant-input-group-addon:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .ant-input {
    // background-color: var(--fill-fill-input);
    // height: 40px;  
    // border: none;
    // display: none;
  }
}

// input
.ant-input-affix-wrapper {
  background-color: transparent;
  border-color: var(--line-border-default);
  font-size: 12px;
  border-radius: 8px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--text-brand-default-web) !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--text-brand-default-web) !important;
  box-shadow: none;
}

.ant-input {
  background-color: transparent;
}

.ant-input:focus,
.ant-input:hover {
  border-color: var(--text-brand-default-web) !important;
  box-shadow: none;
}

.ant-input-clear-icon,
.ant-input-clear-icon:hover {
  color: var(--text-tertiary);
}