
  .orderType {
    height: 24px;
    line-height: 24px;
    border: none;
    margin-bottom: 16px;
  }

  .learnMore {
    display: inline;
    margin-left: 4px;
    color: var(--text-brand-default-web);
    cursor: pointer;
  }

