@import '~/pages/api-management/index.module.less';
.MgContainer{
  padding: 16px 120px;
  .loadingContainer{
    text-align: center;
    padding-top: 15%;
  }
}
.modalContainer{
  text-align: center;
  .content{
    margin: 24px 0 32px;
  }
}