.page {
  color: white;
  background: #202020;
  min-height: calc(100vh - 144px);
}

.modalWrap,
.page {
  :global {

    :where(.css-dev-only-do-not-override-16bhfev).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
    :where(.css-dev-only-do-not-override-16bhfev).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
      border-color: var(--fill-button-brand-default)b3;
    }

    .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
      background-color: #202020;
    }

    .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
      background-color: var(--fill-button-brand-default)b3;
    }

    .ant-checkbox-checked:after {
      border-color: var(--fill-button-brand-default)b3 !important;
    }

    .ant-checkbox-checked:after {
      border-color: var(--fill-button-brand-default)b3 !important;
    }

    .ant-checkbox-checked {
      &::after {
        border-color: var(--fill-button-brand-default);
      }

      .ant-checkbox-inner {
        background-color: var(--fill-button-brand-default);
        border-color: var(--fill-button-brand-default);
        color: black;

        &::after {
          border-color: #000;
        }
      }
    }

    .ant-checkbox-disabled {
      .ant-checkbox-inner {
        opacity: .2;
      }
    }

    .ant-btn-default {
      height: 48px;
      background-color: #363637;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      border-radius: 8px;

      &:hover {
        opacity: .8;
        border-color: #363637;
      }

      &:disabled {
        opacity: .3;
        color: #000;
        cursor: not-allowed;
      }
    }

    .ant-btn-primary {
      height: 48px;
      // width: 100%;
      background-color: var(--fill-button-brand-default);
      color: #000;
      font-weight: 700;
      border-radius: 8px;

      &:hover {
        background-color: var(--fill-button-brand-default)b3;
        color: #000;
      }

      &:disabled {
        opacity: .3;
        color: #000;
        cursor: not-allowed;
      }
    }

    .ant-table {
      border: 1px solid #3A3A3A;
      border-radius: 12px;
      overflow: hidden;
    }

    .ant-table-thead .ant-table-cell {
      color: #8C8C8C;
      padding: 24px;
    }

    .ant-table-row .ant-table-cell {
      padding: 24px;
    }

    .ant-modal .ant-modal-content {
      padding: 24px 32px;
    }

    .ant-input {
      background-color: #efefef;
      padding: 13px 16px;
      border-radius: 8px;
      border-color: transparent;
    }
  }
}