.chart-viewport {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart-viewport .canvas-viewport {
  position: absolute;
  background-color: transparent;
  transform: translate3d(0, 0, 0);
}