.ant-select-focused{
  .ant-select-selector{
    box-shadow: none !important;
  }
} 
.ant-select{
  font-size: 12px;
  .icon-xia{
    color: var(--text-primary) !important;
  }
 .ant-select-selector{
  background-color: transparent !important;
  border: none !important;
  color: var(--text-primary) !important;
  .ant-select-selection-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
 }
}
.ant-select-dropdown{
  background: var(--bg-secondary) ;
  .ant-select-item-option{
    text-align: center;
    color: var(--text-primary);
    font-size: 12px;
  }
  .ant-select-item-option:hover{
    background-color: var(--bg-tertiary);
  }
  .ant-select-item-option-selected{
    color: var(--text-brand-default-web);
    background-color: transparent;
  }
  .ant-select-item-option-selected:hover{
    color: var(--text-brand-default-web);
    background-color: var(--bg-tertiary);
  }
  .ant-select-item-option-active{
    background-color: transparent;
  }
  .ant-select-item-option-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




