.overTabs {
  &.ant-tabs-top > .ant-tabs-nav::before,
  &.ant-tabs-top > div > .ant-tabs-nav::before {
    border-bottom: none;
  }

  .ant-tabs-tab-btn {
    color: var(--text-secondary, #a8aaad);
    font-size: 14px;
    font-weight: var(--Medium, 500);
    line-height: 18px;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--text-primary, #fff);
  }

  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 20px;
  }

  .ant-tabs-ink-bar {
    background: transparent !important;
    height: 3px !important;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 3px;
      background: var(--text-primary, #fff);
      border-radius: 1px;
    }
  }

  &.ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
  }
}
