@media (min-width: 767px) {
  .container {
    display: flex;
    justify-content: center;
    // align-items: center;
    // width: 100%;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    // justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 32px 56px;
    overflow-y: scroll;
  }

  .back {
    cursor: pointer;
  }

  .header {
    .filter-select {
      margin-top: 20px;
      display: inline-block;
    }

    .label {
      color: var(--text-primary);
    }

    .select {
      width: 160px;
      margin-top: 12px;

      :global {
        .ant-select-selector {
          height: 32px;

          input {
            height: 32px;
          }

          .ant-select-selection-item {
            line-height: 32px;
          }
        }
      }
    }

    .select-contractType {
      margin-right: 24px;
      width: 220px;
    }

    .symbol {
      display: none;
    }
  }

  .table {
    margin-top: 20px;
    min-width: 960px;
    margin-bottom: 80px;

    :global {
      .ant-table-thead>tr>th {
        font-weight: 400 !important;
      }
    }
  }

  .total-balance-title {
    margin-top: 24px;
    line-height: 16px;
    color: #18191C;
  }

  .total-balance-value {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #18191C;

    .coin {
      font-size: 12px;
      color: #737373;
      font-weight: 400;
      margin-left: 5px;
    }
  }
}


@media (max-width: 767px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .wrapper {
    height: 100%;
    ;
  }

  .back {
    display: none;
  }

  .header {
    padding: 8px 16px;
    width: calc(100% - 32px);

    .filter-select {
      display: none;
    }

    .select {
      display: none;
    }

    .actionSheet {
      margin-top: 24px;
      display: flex;
      align-items: center;
      width: 184px;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      height: 36px;
      justify-content: space-between;
      padding: 0 8px 0 12px;

      .symbol {
        display: flex !important;
        color: #18191C;
        font-size: 14px;
        font-weight: 500;
        align-items: center !important;

        svg {
          margin-left: 5px;
        }
      }
    }

    .total {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 24px;
      height: 75px;
      padding: 16px 12px 16px 12px;
      gap: 4px;
      border-radius: 4px;
      border: 1px solid #eeeeee;
      background-color: #f7f7f7;

      .total-title {
        font-size: 14px;
        font-weight: 400;
        color: #18191C;
      }

      .total-balance-value {
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
        color: #18191C;

        .coin {
          font-size: 12px;
          color: #737373;
          font-weight: 400;
          margin-left: 5px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;

    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 16px 16px 16px;
      justify-content: center;
      align-items: center;

      .line {
        width: 100%;
        height: 1px;
        background-color: #eeeeee;
        margin-top: 16px;
      }

      .list-item {
        width: calc(100% - 32px);

        .list-item-symbol {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          margin-top: 16px;
        }

        .key-value {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 8px;

          .key {
            color: #a6a6a6;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            width: 50%;
          }

          .value {
            color: #18191C;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            width: 50%;
            text-align: right;
          }
        }
      }
    }

  }

  .title {
    margin-top: 20px;
  }
}

.title {
  color: var(--text-primary);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.desc {
  margin-top: 10px;
  color: #797B80;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;

  .img {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('@{BASE_PATH}/icons/loading.gif') no-repeat center;
    background-size: cover;
  }
}