 @media screen and (min-width: 991px) {
   .footerWrappwer {
     display: none;
   }
 }

 @media screen and (max-width: 991px) {
   .footerWrappwer {
     display: block;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background: var(--bg-secondary, #1D1D1D);
     backdrop-filter: blur(27px);

     .top {
       display: flex;
       justify-content: center;

       .appInfo {
         margin-top: 0;
         padding: 8px 16px 0 16px;
         margin-bottom: -8px;
       }
     }

     .footer {
       height: 76px;
       align-items: center;
       grid-template-columns: 1fr 1fr;
       display: grid;
       grid-column-gap: 16px;
       padding-left: 16px;
       padding-right: 16px;

       .downloadBtn {
         white-space: nowrap;
         justify-content: center;
         align-items: center;
         display: flex;
         height: 44px;
         border-radius: 12px;
         font-size: 14px;
         font-weight: 600;
         color: #000;
         text-decoration: none;

         svg {
           display: flex;
           margin-left: 4px;
         }
       }

       .downloadDefault {
         background: var(--fill-button-tertiary-default, #28292A);
         color: var(--text-primary, #FFF);

       }

       .downloadBrand {
         background: var(--fill-button-primary-default, #FFF);
         color: var(--text-white-to-back, #101112);

       }
     }

   }
 }