.accountInfo {
  width: 919px;
  margin: 80px auto 150px;

  :global {
    .ant-btn {
      background-color: #373737;
      color: #fff;
      border: none;

      &:hover {
        color: var(--fill-button-brand-default);
      }

      &:disabled {
        color: #fff;
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    .ant-btn-primary {
      background-color: var(--fill-button-brand-default);
      color: #000;

      &:hover {
        background-color: var(--fill-button-brand-default)b3;
        color: #000;
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .title {
      color: #fff;
      font-feature-settings: 'clig' off, 'liga' off;

      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.32px;
    }

    .content {
      width: 632px;
      padding: 40px 70px;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid #3a3a3a;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
      font-size: 14px;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;

        &:last-child {
          margin: 0;
        }

        &>span {
          &:nth-child(1) {
            opacity: 0.7;
          }

          &:nth-child(2) {
            min-width: 180px;
            text-align: right;
          }
        }

        div {
          &>span {
            margin-right: 8px;
          }
        }

        .mediaTitle {
          display: flex;
          align-items: center;

          span {
            opacity: 0.7;
            margin-left: 8px;
          }
        }
      }

      .accountInfo-btn {
        min-width: 64px;
        // margin-lest: 8px;
        padding: 4px 8px;
        font-size: 13px;
      }

      .changebtn {
        background-color: #373737;
      }

      .ctaContainer {
        text-align: start;
        display: inline-block;
        min-width: 90px;
      }

      .walletInfo {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .icon {
      opacity: 0.5;
      margin-left: 8px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}