.overviewSummaryCard {
  padding: 16px;

  &_head {
    display: flex;
    justify-content: space-between;
    height: 24px;
    margin: 16px 0 8px;

    &_title {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: #fff;
    }

    &_time {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #8c8c8c;

      &_icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('@{BASE_PATH}/images/arrow-down.png') no-repeat center;
        background-size: cover;
      }
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    padding: 8px 16px;
    border-radius: 16px;
    background: #181818;
    border: 1px solid var(--line-line-general, #222);
  }

  &_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
  }

  &_divider {
    margin: 0;
    border-color: #222;
    padding: 8px 0px;
  }

  &_info {
    &_label {
      color: #8c8c8c;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.14px;
    }

    &_value {
      padding-top: 8px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
    }

    &_value1 {
      padding-top: 8px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      display: flex;
      align-items: center;
    }

    &_value_right {
      padding-top: 8px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      text-align: right;
    }

    &_icon {
      margin-left: 6px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('@{BASE_PATH}/images/links.svg') no-repeat center;
      background-size: cover;
    }

    &_netIcon {
      margin-left: 6px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('@{BASE_PATH}/images/gotoPage.svg') no-repeat center;
      background-size: cover;
    }

    .disabled {
      background: url('@{BASE_PATH}/images/disable-links.svg') no-repeat center;
    }
  }

  &_detail {
    &_btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &_text {
        display: flex;
        align-items: center;
        color: var(--text-brand-default);
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
      }

      &_icon {
        margin-left: 4px;
        font-size: 14px;
      }
    }
  }

  .nopadding {
    padding: 0;
  }
}

.filterPopupContainer {
  height: 100%;
  padding: 16px 10px 40px;
  color: #fff;
  font-size: 14px;

  .btn {
    margin: 0 auto;
    width: 100px;
    margin-top: 16px;
    text-align: center;
  }
}