.recordInfo {
  margin: 12px 16px 0;
  padding: 24px 0 32px;
  flex: 1;

  &:first-child {
    padding: 0 0 32px;
    border-bottom: 1px solid #353535;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #353535;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &_label {
      color: #8c8c8c;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    &_value {
      color: #fff;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.up {
  color: #00a667;
}

.down {
  color: #C8342A;
}
