.local-time-tips__mask {
  background: rgba(0, 0, 0, 0.7);
  .local-time-tips__btn{
    margin-top: 16px;
    width: 100%;
  }
}

.local-time-tips__ctr .ant-modal-head {
  border-bottom: 1px  solid var(--divide-line);
}

.local-time-tips__ctr .ant-modal-body {
  line-height: 1.5;
}
