.applicationCodeModal {
  :global {
    .ant-modal-content {
      padding: 24px;
      border-radius: 16px;

      .ant-modal-close {
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
        color: var(--text-primary);

        .ant-modal-close-x {
          width: 32px;
          height: 32px;
          line-height: 32px;
          font-size: 16px;
        }
      }

      .ant-modal-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: var(--text-primary);
      }
    }
  }

  .subTitle {
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
    color: white;
    font-weight: 400;
  }

  .codeContainer {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .verification-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 13px;

    .verification-input-wrapper {
      position: relative;
      flex: 1;

      .verification-input-wrapper-box {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
        color: #fff;
        background: var(--fill-fill-input, #f5f5f5);
        border: 1px solid transparent;
        border-radius: 9px;
        /* Firefox - Input[type=number] hide arrows */
        -moz-appearance: textfield;

        @media screen and (max-width: 600px) {
          height: 56px;
          font-size: 28px;
        }

        @media screen and (max-width: 450px) {
          height: 48px;
          font-size: 24px;
          gap: 12px;
        }

        @media screen and (max-width: 380px) {
          height: 40px;
          font-size: 20px;
          gap: 8px;
        }
      }
    }
  }

  .actionButtons {
    display: flex;
    gap: 16px;

    .contactBtn,
    .copyBtn {
      flex: 1;
      height: 48px;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      border-radius: 12px;
    }

    .contactBtn {
      background-color: transparent;
      border: 1px solid var(--line-border-default);
      color: var(--text-primary);

      &:hover {
        border-color: var(--line-border-hover);
        color: var(--text-primary);
      }

      &:active {
        border-color: var(--line-border-hover);
      }
    }

    .copyBtn {
      background-color: var(--text-brand-default);
      border: none;

      &:hover {
        background-color: var(--text-brand-default);
        opacity: 0.9;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .actionButtons {
      flex-direction: column;
      gap: 12px;

      .contactBtn,
      .copyBtn {
        width: 100%;
        line-height: 42px;
      }
    }
  }
}
