.wrapper {
  height: 146px;
  width: 100%;
  padding: 24px 0px 24px 32px;
  gap: 8px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;

  .title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #333333;
  }
}

.des {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #888888;
}

.select {
  width: 360px;
  height: 44px;

  :global {
    .ant-select-selector {
      display: flex;
      height: 44px;
      align-items: center;
    }
  }
}
