.container-inner {
  margin: 0 auto;
  color: var(--text-primary);
  width: 1340px;
  margin: 0 auto;
  padding: 50px 32px;
  box-sizing: border-box;
}

.container {
  &.dark {
    background-color: #060606;
  }

  &.light {
    background-color: #141414;
  }

  &.transparent {
    background: none;
  }
}