.Journey {
  background: linear-gradient(90deg, #101213 0%, #273016 49.52%, #101213 100%);
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;

  .journeyWrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  svg {
    position: absolute;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
  }

  img {
    width: 36px;
    height: 36px;

  }




  .desc {
    color: var(--text-primary);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0 12px;

    span {
      color: var(--text-brand-default, #ABE127);
    }
  }


  .btn {
    height: 36px;
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--fill-button-brand-default, #ABE127);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;

    &:hover {
      background: var(--fill-button-brand-hover);

    }
  }

  // 当滚动到第二屏时，变为固定定位并吸底
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}


@media screen and (max-width: 767px) {
  .Journey {
    display: none;
    // .journeyWrapper {
    //   padding: 12px 24px;
    //   width: 100%;
    //   max-width: 100%;
    // }


    // .desc {
    //   font-size: 14px;

    // }

    // // 移动端固定定位时也需要全宽
    // &.fixed {
    //   .journeyWrapper {
    //     width: 100%;
    //     max-width: 100%;
    //   }
    // }
  }
}