.favPage {
  .recommend {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .favItemWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .favAddBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;

    :global {
      .ant-btn-primary {
        min-width: 240px;
        height: 44px;
        padding: 8px 32px;
        font-weight: 500;
      }
    }
  }

}

.nodata {
  display: flex;
  height: 156px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nodataIcon {
    width: 64px;
    height: 64px;
    background: url('@{BASE_PATH}/images/empty.svg') no-repeat;
  }

  .text {
    font-size: var(--size-12);
    color: var(--text-primary, #101112);
    margin-top: 8px;
  }
}