.userAssetsContainer {
  height: 100%;
  padding: 0 16px;
}

.userAssetsList {
  height: 100%;
  overflow: auto;

  .noMoreText {
    color: #8c8c8c;
  }
}

.listItem {
  border-radius: 8px;
  border: 1px solid #222 !important;
  margin: 24px 0;
  padding: 16px !important;
}

.popupContainer {
  height: 100%;
  padding: 16px 16px 40px;
  color: #fff;
  font-size: 14px;

  .popup_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .popup_header_title {
      font-size: 16px;
      font-weight: 600;
    }

    .popup_header_close {
      width: 24px;
      height: 24px;
      background: url('@{BASE_PATH}/images/close.png') no-repeat center;
      background-size: cover;
    }
  }

  .content {
    margin-top: 32px;
    padding: 8px 16px;
    color: #fff;
    border-radius: 4px;
    background: #2e2e2e;
  }

  .btn {
    margin-top: 24px;
  }
}
