@primary-color: #f7a600;
@primary-color-hover: #f9b732;
@primary-color-active: #cf8a00;
@success-color: #24ae64;
@success-color-hover: #4fbe83;
@success-color-active: #1e9254;
@error-color: #e04040;
@error-color-hover: #e66566;
@error-color-active: #bc3536;

@border-radius-base: 4px;
