.tableContent {
  width: 100%;

  .header {
    height: 48px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-secondary, #a8aaad);
    box-sizing: border-box;

    .sortIcons {
      display: flex;
      flex-direction: column;
      margin-left: 2px;
      flex-shrink: 0;
    }

    .upIcon:extend(.sortIcon) {
      background: url('@{BASE_PATH}/images/sort-up-default.svg') no-repeat
        center;
      background-size: contain;
    }

    .upIconActive:extend(.sortIcon) {
      background: url('@{BASE_PATH}/images/sort-up-brand.svg') no-repeat center;
      background-size: contain;
    }

    .downIcon:extend(.sortIcon) {
      background: url('@{BASE_PATH}/images/sort-down-default.svg') no-repeat
        center;
      background-size: contain;
    }

    .downIconActive:extend(.sortIcon) {
      background: url('@{BASE_PATH}/images/sort-down-brand.svg') no-repeat
        center;
      background-size: contain;
    }
  }

  .row {
    height: 64px;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-primary, #fff);
    box-sizing: border-box;

    .itemIcon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .symbolMeta {
      display: flex;
      flex-direction: column;
      min-width: 0;
    }

    .tag {
      border-radius: 4px;
      padding: 2px 4px;
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      color: var(--text-tertiary, #565a5c);
      border: 1px solid var(--line-divider-primary, #28292a);
      background: transparent;
      width: fit-content;
    }

    .startIcon:extend(.icon) {
      background: url('@{BASE_PATH}/images/star.svg') no-repeat center;
      background-size: contain;
    }

    .starIconActive:extend(.icon) {
      background: url('@{BASE_PATH}/images/star-choice.svg') no-repeat center;
      background-size: contain;
    }
  }

  .content {
    min-height: 156px;

    .row:hover {
      background: var(--fill-fill-hover-1, #1d1d1d);
      border-radius: 8px;
    }

    .nodata {
      height: 156px;
      flex-direction: column;

      .nodataIcon {
        width: 64px;
        height: 64px;
        background: url('@{BASE_PATH}/images/empty.svg') no-repeat;
      }

      .text {
        font-size: 12px;
        color: var(--text-secondary, #a8aaad);
        margin-top: 8px;
      }
    }
  }
}

.mt4 {
  margin-top: 4px;
}

.fiat {
  color: var(--text-tertiary, #565a5c);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.priceCol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
  text-align: right;
}

.sortIcon {
  width: 14px;
  height: 7px;
  cursor: pointer;
  background-size: contain;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 0;
  flex-shrink: 0;
  background-size: contain;
}

.pairsCol {
  width: 240px;
  flex: 0 0 240px;
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 0;
}

.col {
  flex: 1;
  min-width: 0;
  text-align: right;
}

.mainInfo {
  color: var(--text-primary, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.alignEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  text-decoration: none;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.bothCenter:extend(.alignCenter) {
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

.brandColor {
  color: var(--text-brand-default, #abe127);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
