
@import '~/pages/api-management/index.module.less';
.modalWrap{
  .apiContainer{
    padding: 32px 0;
    .apiItem{
      display: flex;
      flex-direction: column;
      span{
        display: inline-block;
        height: 16px;
        font-size: 14px;
      }
      .apiItemTitle{
        color: #8C8C8C;
        margin-bottom: 8px;
      }
      .apiItemContent{
        color: #FFF;
        margin-bottom: 16px;
      }
    }
  }
}