.cashIntroSection {
  margin: 24px 0 48px;
  padding: 32px 16px;

  .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .introItem {
    margin: 12px 0;

    .introTitle {
      color: var(--text-brand-default);
      font-size: 16px;
      font-style: normal;
      font-weight: var(--Bold, 600);
      line-height: 24px;
      padding: 8px 0;
    }

    .introListItem {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 8px 0;
      align-self: flex-start;

      .introListItemCount {
        width: 20px;
        height: 20px;
        color: #fff;
        border-radius: 12px;
        background: #302e33;
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 145.455% */
      }

      .introListItemContent {
        flex: 1;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;

        a {
          color: var(--text-brand-default);
          text-decoration: underline;
        }
      }
    }
  }
}