.page {
  min-height: calc(100vh - 132px);
  background-color: #fff;
}
.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  .img {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('@{BASE_PATH}/images/loading.gif') no-repeat center;
    background-size: cover;
  }
}