.Download {
  display: flex;
  justify-content: center;

  .coreContent {
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 180px;


    .title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      color: var(--text-primary, #FFFFFF);
    }

    .desc {
      color: var(--text-secondary, #666A6C);
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      margin-top: 20px;
      font-weight: 400;
      /* 140% */
    }

    .content {
      text-align: center;
      width: 100%;

      .webapp {
        width: 712px;
        height: 412px;
        margin: 40px 0;
      }

      .bottomContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .qrcodeWrapper {
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: anchor-center;

          .text {
            margin-left: 24px;
            text-align: left;

            div:first-child {
              color: var(--text-secondary);
              margin-bottom: 8px;
              font-size: 16px;
              line-height: 24px;

            }

            div:last-child {
              color: var(--text-primary, #FFF);
              font-size: 18px;
              line-height: 30px;
            }

          }
        }

        .downloadIconsWrapper {
          display: flex;
          align-items: center;

          // .downIcons {
          //   padding: 12px 28px !important;
          //   gap: 12px !important;

          //   &:hover {
          //     .icon {
          //       background: #CCC !important;

          //     }
          //   }
          // }
        }
      }

    }


  }
}

@media screen and (max-width: 767px) {
  .Download {
    .coreContent {
      width: 100%;
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;

      .title {
        font-size: 24px;
      }

      .desc {
        font-size: 14px;
        line-height: 19px;
        margin-top: 16px;
      }

      .content {
        text-align: center;
        width: 100%;

        .webapp {
          height: 195px;
          margin-bottom: 40px;
          object-fit: contain;
        }

        .bottomContent {
          flex-direction: column;
          gap: 0;
          width: 100%;

          .downloadIconsWrapper {
            width: 100%;
            justify-content: center;
            margin-top: 40px;
          }

          .qrcodeWrapper {
            .text {
              font-size: 24px !important;
              font-weight: 600 !important;
              line-height: 32px !important;
              margin-bottom: 16px !important;
              text-align: center;
              margin-left: 24px;
            }
          }
        }

      }


    }

  }
}
