/* 这个文件有用 */

.profit-input-icons {
  display: flex;
  align-items: center;
}

.profit-input-icons span {
  font-size: var(--size-12);
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 38px;
  padding: 0;
  margin: 0;
  user-select: none;
}

.profit-input-icons .profit-input-icon-clear {
  width: var(--size-16);
  height: var(--size-16);
  color: transparent;
  background-repeat: no-repeat;
  background-image: url(common/assets/images/delete.svg);
}

.profit-input-icon-clear:hover {
  transition: font-size 0.05s ease-out;
  font-size: var(--size-14);
}

.profit-input-icons .profit-input-icon {
  height: var(--size-14);
  margin-top: 0.5px;
  font-size: var(--size-14);
  padding-bottom: 2px;
  color: var(--text-tertiary);
  font-weight: bold;
}

.profit-input-icons .profit-input-icon:hover {
  transition: all 0.05s ease-out;
  font-size: var(--size-20);
  color: var(--text-brand-default-web);
}

.profit-input__border-left {
  border-left: 1px solid var(--line-border-default);
}


