//@import '~/pages/index.module.less';

.confrimBtn {
  margin-top: 24px;
}

.error {
  color: var(--text-red, #d35d55);
  font-size: 14px;
  margin-top: 16px;
}

.subTitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 24px;
  color: var(--text-primary);
}

.desc {
  margin-top: 16px;
  color: var(--text-primary, #F5F5F5);
}

.inp {
  border-radius: 8px;
  background-color: #efefef;
  padding: 13px 16px;
  margin: 24px 0 32px;
}

.inp-title {
  opacity: 0.6;
}

.resend {
  margin-top: 16px;
  text-align: right;

  span {
    margin-left: 8px;
    display: inline-block;
  }

  .btn {
    height: 25px;
    // margin-left: 4px;
    padding: 0 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-brand-default);

    &:hover {
      // color: var(--text-brand-default);
      opacity: 0.8;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.verification-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .verification-input-wrapper {
    position: relative;

    &:focus::after {
      content: '';
      display: block;
      height: 24.5px;
      width: 2px;
      position: absolute;
      top: 5px;
      left: 50%;
      background-color: var(--text-brand-default);
    }

    .verification-input-wrapper-box {
      width: 48px;
      height: 48px;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      background: #1F2023;
      border: 1px solid transparent;
      border-radius: 8px;
      //caret-color: transparent;
      /* Firefox - Input[type=number] hide arrows */
      -moz-appearance: textfield;
      padding: 0;
      color: var(--text-brand-default-web, #ABE127);

      &-error {
        border-color: #d35d55 !important;
      }

      &.verification-input-wrapper-box-m {
        width: 40px;
        height: 40px;
      }

      &:focus,
      &:focus-within,
      &:focus-visible {
        border: 1px solid var(--text-brand-default);
        outline: none !important;
      }

      &[disabled] {
        color: var(--re-rui-text-a-05);
      }

      /* Input[type=number] hide arrows */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      // @media screen and (max-width: 450px) {
      //   width: 36px;
      // }

      // @media screen and (max-width: 396px) {
      //   width: calc(36px - 6%);
      // }

      @media screen and (max-width: 348px) {
        width: calc(36px - 8%);
        height: calc(36px - 8%);
        font-size: 24px;
      }
    }
  }
}

.twoFA,
.editModal,
.countdownModal {
  :global {
    .ant-modal-content {
      padding: 24px;

      .ant-modal-close {
        top: 22px;
        color: var(--text-primary);
      }

      .ant-modal-title {
        font-size: 18px;
        font-weight: bold;
        color: var(--text-primary);
      }
    }

    .ant-btn {
      width: 100%;
      height: 48px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 12px;

      //&:disabled {
      //  opacity: 0.3;
      //  cursor: not-allowed;
      //}
    }

    .ant-input,
    .ant-input-affix-wrapper {
      border-color: transparent;

      &:hover {
        border-color: var(--text-brand-default);
      }

      &:focus {
        border-color: var(--text-brand-default);
      }
    }

    //.ant-btn-primary {
    //  height: 48px;
    //  width: 100%;
    //  //background-color: var(--text-brand-default);
    //  font-weight: bold;
    //  border-radius: 12px;
    //
    //  //&:hover {
    //  //  background-color: var(--text-brand-default);
    //  //}
    //
    //  &:disabled {
    //    opacity: 0.3;
    //
    //    cursor: not-allowed;
    //  }
    //}
  }
}

.helpText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  .helpTextLink {
    font-size: 12px;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
      color: var(--text-brand-hover, #ABE127);
    }
  }

  .paste {
    font-size: 14px;
    color: var(--text-brand-default);
    cursor: pointer;
  }
}
