body {
  margin: 0;
  background-color: #060606;


  #udesk_btn {
    display: none;
  }

  .redUpGreenDown {
    .downColor {
      color: var(--text-green);
    }

    .upColor {
      color: var(--text-red);
    }
  }

  .redUpBlueDown {
    .downColor {
      color: var(--text-blue);
    }

    .upColor {
      color: var(--text-red);
    }
  }

  .greenUpRedDown {
    .downColor {
      color: var(--text-red);
    }

    .upColor {
      color: var(--text-green);
    }
  }
}