.benifitModal {
  .box {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px;
    // background: var(--bg-secondary, #EEE);
    background: #EEE;
    margin: 32px 0;

    .left {
      .title {
        color: var(--Text-color-text-grey-primary, #333);
        font-size: 14px;
      }

      .num {
        color: var(--Text-color-text-grey-primary, #333);
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        margin-top: 4px;

        span {
          margin-left: 4px;
          color: var(--text-secondary);
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        padding: 4px 16px;
        height: 44px;
        color: #fff;
        background: var(--text-brand-default);
        margin-right: 12px;
      }
    }

  }

  .noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 0;

    .noDataText {
      color: var(--text-secondary);
      font-size: 12px;
      font-weight: var(--Medium, 500);
      margin-top: 16px;

    }
  }

  .changeAmount {
    color: var(--text-brand-default);
    font-size: 12px;
    font-weight: 600;
  }

  :global {
    .ant-table-wrapper .ant-table-thead>tr>td {
      background: #fff;
      color: var(--text-tertiary, #A6A6A6);
    }

    .ant-table-wrapper .ant-table-thead>tr>th {
      color: #A6A6A6;
      // color: var(--text-tertiary, #A6A6A6);
      background: #fff;
      font-size: 12px;
      font-weight: 400;
    }


    .ant-table-wrapper .ant-table-tbody>tr>td {
      // color: var(--Text-color-text-grey-primary, #333);
      color: #333;
      font-size: 12px;
    }

    .ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      width: 0px;
    }

    .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
      display: none;
    }
  }
}