.adMultContianer {
  background: var(--bg-secondary, #1D1D1D);

  .footerView {
    margin-top: 24px !important;
  }
}

.adContainer {
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 24px;
  border-radius: 16px;

  padding: 24px;

  :global(.swiper) {
    width: 100%;
    height: 100%;
  }

  :global(.swiper-slide) {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
  }

  .navContianer {

    width: 148px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4px;

    .swiperNav {
      width: 100%;
      height: 496px;

      .navCard {
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;

        .cardImage {
          width: 148px;
          height: 118px;

          object-fit: cover;
        }

        &:hover {
          border: 1px solid var(--border-hover);
        }

      }
    }

    .customPagination {
      margin-top: 16px;
      color: var(--text-secondary, #666A6C);
      font-size: 14px;
      line-height: 19px;
      /* 135.714% */
    }
  }

  .singleContianer {
    .cardView {
      .cardImage {
        border: 1px solid var(--line-border-default, #2D2D2D);
      }
    }
  }

  .mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 16px;

    .swiperMain {
      width: 560px;
      height: 424px;


      .cardView {
        .cardImage {
          width: 100%;
          height: 100%;
          border-radius: 16px;
          object-fit: cover;
        }
      }
    }

    .manager {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 9;
      padding: 16px;

      .autoplayProgress {
        position: relative;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-primary);

        span {
          font-size: 12px;
          line-height: 18px;
        }

        svg {
          --progress: 0;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          width: 100%;
          height: 100%;
          stroke-width: 2px;
          stroke: #666A6C;
          fill: none;
          stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
          stroke-dasharray: 125.6;
          transform: rotate(-90deg);
        }
      }
    }

    .footerView {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
      margin-top: -24px;
      z-index: 9;

      .learnMorePc {
        display: flex;
        width: 240px;
        height: 48px;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        background: var(--fill-button-primary-default, #FFF);
        cursor: pointer;
        color: var(--text-black, #101112);
        font-size: 16px;
        font-weight: 600;

        &:hover {
          opacity: 0.9;
        }
      }
    }


  }

}

/* mobile */
@media (max-width: 767px) {
  .adContainer {
    position: absolute;
    top: -999999px;
  }
}
