.modalMask {
  :global {
    .ant-modal-content {
      background-color: transparent;
    }
  }
}

.referralShareModal {
  .content {
    .contentWrapper {
      display: flex;
      flex-direction: column;

      .close {
        margin-left: auto;
        border-radius: 24px;
        width: 32px;
        height: 32px;
        background: url('@{BASE_PATH}/images/PC/ic_close.svg') no-repeat center,
          var(--bg-tertiary, #28292a);
        cursor: pointer;
      }

      .body {
        margin: 16px 0 24px;
        background: #09080a;
        border-radius: 12px;
        border: 1px solid var(--line-border-default, #37393a);

        .card {
          .cardDesign {
            padding: 16px 16px 0;

            .logo {
              width: 120px;
              height: 28px;
              background: url('@{BASE_PATH}/images/PC/logo.png') no-repeat left
                center;
              background-size: contain;
            }

            .content {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 16px;
              padding: 32px 0 8px;

              .title {
                color: var(--text-primary, #fff);
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
              }

              .illustration {
                width: 200px;
                height: 200px;
                background: url('@{BASE_PATH}/images/PC/referral-illustration.png')
                  no-repeat center;
                background-size: contain;
              }
            }
          }

          .invite {
            width: 100%;
            height: 92px;
            border-radius: 0 0 8px 8px;
            padding: 12px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .qrcode {
              width: 56px;
              height: 56px;
              padding: 4px;
              background: #fff;
              border-radius: 4px;
            }

            .inviteInfo {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              .descLabel {
                color: var(--text-static-white, #fff);
                font-size: 14px;
                font-weight: 400;
              }

              .descValue {
                color: var(--text-static-white, #fff);
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }
}
