@import '~/pages/index.module.less';

.editModal-inp {
  margin: 32px 0;
  padding: 13px 16px;
  border-radius: 8px;
}

.btnRow {
  display: flex;

  button {
    width: 50% !important;
    height: 40px !important;
  }

  button:first-child {
    margin-right: 12px;
  }

}


.avatarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 40px;
}

.avatarBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #FFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .txt {
    display: inline-block;
    margin-left: 8px;
  }
}