body {
  margin: 0;
  background-color: #060606;

  #udesk_btn {
    display: none;
  }

  /* 全局样式文件，如 index.css 或 app.css */
  .my-pagination {
    .ant-pagination-item {
      background-color: #000000 !important; /* 背景改为紫色 */
      border-color: #37393a !important;
      a {
        color: #fff !important;
      }
    }
    .ant-pagination-item-active {
      background-color: var(--fill-button-green-default, #55B169) !important;
    }
    .ant-pagination-prev, .ant-pagination-next {
      padding-bottom: 1px;
      color: #fff !important;
    }
    .anticon-double-right,.anticon-double-left {
      opacity: 1 !important;
    }
    .ant-pagination-disabled {
      border: 1px solid var(--line-border-default, #37393A) !important;
    }
    .ant-pagination-item-link {
      color: #fff !important;
    }
    .ant-pagination-item-active a {
      color: black !important;
    }
  }
}
