.loadingPage {
  position: relative;
  width: 100%;
  height: 200px;
  color: rgba(255, 255, 255, 0.5);

  .circle {
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    animation: loading 1.5s linear infinite; //转一圈的时间是1s,一直转
  }

  .circleItem {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-brand-default);
  }

}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(72deg);
  }

  40% {
    transform: rotate(144deg);
  }

  60% {
    transform: rotate(216deg);
  }

  80% {
    transform: rotate(288deg);
  }

  100% {
    transform: rotate(360deg);
  }
}