.recordInfo {
  flex: 1;

  &_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_base {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &_label {
      color: #8c8c8c;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    &_right {
      display: inline-flex;
      align-items: center;
    }

    &_value {
      color: #fff;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

    &_id {
      color: #fff;
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }

    &_icon {
      margin-left: 6px;
      display: inline-block;
      width: 6px;
      height: 12px;
      background: url('@{BASE_PATH}/images/arrow-right.png') no-repeat center;
      background-size: cover;
    }
  }

  &_remark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    &_left {
      flex: 1;
      height: 22px;
    }

    &_right {
      display: inline-flex;
      align-items: center;
    }

    &_label {
      display: inline-block;
      align-items: center;
      margin: 0;
      color: #8c8c8c;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 290px;
    }

    &_icon {
      margin-left: 6px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('@{BASE_PATH}/images/edit.png') no-repeat center;
      background-size: cover;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    color: #fff;

    &_label {
      margin: 0;
      color: #8c8c8c;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
    }

    &_value {
      margin: 0;
      color: #fff;
      text-align: right;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    &_right {
      text-align: right;
    }
  }
}

.up {
  color: #00a667 !important;
}

.down {
  color: #c8342a !important;
}
