.vertifyPart {
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    color: var(--text-primary, #F5F5F5);
  }

  .desc {
    margin-top: 24px;
    color: var(--text-primary, #F5F5F5);
  }

  .verification-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    .verification-input-wrapper {
      position: relative;

      .verification-input-wrapper-box {
        width: 64px;
        height: 64px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        border-radius: 8px;
        background: var(--fill-fill-input, #1F2023);
        border: 1px solid transparent;
        //caret-color: transparent;
        /* Firefox - Input[type=number] hide arrows */
        -moz-appearance: textfield;
        padding: 0;
        color: var(--text-brand-default-web, #ABE127);
        &.verification-input-wrapper-box-m {
          width: 40px;
          height: 40px;
        }

        &:focus,
        &:focus-within,
        &:focus-visible {
          border: 1px solid var(--text-brand-default) !important;
          outline: none !important;
        }

        &[disabled] {
          color: var(--re-rui-text-a-05);
        }

        /* Input[type=number] hide arrows */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        @media screen and (max-width: 348px) {
          width: calc(36px - 8%);
          height: calc(36px - 8%);
          font-size: 24px;
        }
      }
    }
  }

  .resendRowFlex {
    margin: 24px 0;
    text-align: right;
    color: var(--text-brand-default);

    span {
      margin-left: 8px;
      display: inline-block;
    }

    .btn {
      height: 25px;
      margin-left: 8px;
      font-size: 14px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--text-brand-default);
      }

      &:disabled {
        cursor: not-allowed;
        //  background: var(--Fill-button-tertiary, #EDEFF1);
        opacity: 0.4;
      }
    }
  }

  :global {

    .ant-btn {
      height: 48px;
      //background-color: var(--text-brand-default);
      font-size: 16px;
      font-weight: 700;
      border-radius: 8px;

      //&:hover {
      //  background-color: var(--text-brand-default);
      //}

      &:disabled {
        //opacity: .4;
        cursor: not-allowed;
        //color: #fff;
      }
    }

    .ant-input,
    .ant-input-affix-wrapper {
      border-color: transparent;

      &:hover {
        border-color: var(--text-brand-default);
      }

      &:focus {
        border-color: var(--text-brand-default);
      }
    }

    .ant-btn-primary {
      height: 48px;
      width: 100%;

      &:disabled {
        border: none !important;
      }
    }
  }

  .inp {
    border-radius: 8px;
    background-color: #efefef;
    padding: 13px 16px;
    margin: 24px 0 32px;
  }

  .inp-title {
    opacity: 0.6;
  }


}


/* mobile */
@media (max-width: 767px) {
  .verification-input-wrapper-box {
    width: 40px !important;
    height: 40px !important;
  }
}
