.banner{
  height: 200px;
  background-color: #101010;
  background-image: url('@{BASE_PATH}/images/page-bg.svg');
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 120px;
  font-size: 54px;
  font-weight: 600;
  line-height: 200px;
}