
.context{
  .warnTop{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    .warnIcon{
      path{
        fill: var(--text-brand-default-web); 
      }
      circle{
        stroke: var(--text-brand-default-web);
      }
    }
    .cancelText{
      margin: 16px 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px; 
    }
  }
  .mb8{
    margin-bottom: 8px
  }

  .item{
    display: flex;
    justify-content: space-between;
    span{
      font-size: 14px;
      font-weight: 400;
      color: var(--text-primary);
      display: block;
    }
    span:first-child{
      color: var(--text-secondary, #787E89);
    }
  }
}


.cancelAllBtn{
  :global{
    .ant-btn-text{
      color: var(--text-brand-default-web) !important;
      font-size: 12px;
    }
  }
}

.tpslCancelBtn{
  position: relative;
  :global{
    .ant-select-selection-item{
      color: var(--text-brand-default-web) !important;
    }
    .iconfont{
      color: var(--text-brand-default-web) !important;
    }
  }
  .batchBtn{
    color: var(--text-brand-default-web);
    cursor: pointer;
  }
 
}




.offline-trade-true {
  cursor: not-allowed;
}
