.page {
  color: var(--text-primary, #101112);
  background: #fff;
  min-height: calc(100vh - 64px);

  .chat {
    bottom: 88px;
    right: 24px;
  }
}

@media (min-width: 1440px) {
  .page {
    .chat {
      bottom: 138px;
    }
  }
}
