.indicator {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .parallelogram {
    width: 2px;
    height: 10px;
    background-color: #373A3D;
    transform: skew(-13deg);
    transform-origin: top right;
    margin-left: 2px;
    }
    .parallelogram-active1:nth-child(1) {
      background-color: var(--function-green);
      opacity: 0.8;
    }
    .parallelogram-active2:nth-child(1) {
      background-color: var(--function-green);
      opacity: 0.8;
    }
    .parallelogram-active2:nth-child(2) {
      background-color: var(--function-green);
    }
    .parallelogram-active3:nth-child(1) {
      background-color: var(--function-yellow);
      opacity: 0.4;
    }
    .parallelogram-active3:nth-child(2) {
      background-color: var(--function-yellow);
      opacity: 0.6;
    }
    .parallelogram-active3:nth-child(3) {
      background-color: var(--function-yellow);
      opacity: 0.8;
    }
    .parallelogram-active4:nth-child(1) {
      background-color:  var(--function-orange);
      opacity: 0.4;
    }
    .parallelogram-active4:nth-child(2) {
      background-color:  var(--function-orange);
      opacity: 0.6;
    }
    .parallelogram-active4:nth-child(3) {
      background-color:  var(--function-orange);
      opacity: 0.8;
    }
    .parallelogram-active4:nth-child(4) {
      background-color:  var(--function-orange);
    }
    .parallelogram-active5:nth-child(1) {
      background-color: var(--function-orange);
      opacity: 0.4;
    }
    .parallelogram-active5:nth-child(2) {
      background-color: var(--function-orange);
      opacity: 0.6;
    }
    .parallelogram-active5:nth-child(3) {
      background-color: var(--function-orange);
      opacity: 0.8;
    }
    .parallelogram-active5:nth-child(4) {
      background-color: var(--function-orange);
    }
    .parallelogram-active5:nth-child(5) {
      background-color: var(--function-orange);
    }
}
