.ant-card {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  color: unset;

  .ant-card-head {
    color: var(--text-secondary);
    height: 38px;
    min-height: 38px;
    background: transparent;
    padding: 0;
    border-bottom: none;

    .ant-card-head-wrapper {
      height: 38px;
    }

    .ant-card-head-title {
      padding: 0;
    }
  }

  .ant-card-body {
    flex: 1;
    overflow: auto;
    padding: 0;
  }

  .ant-card-body::-webkit-scrollbar {
    display: none;
  }
}